<div class="container">	
	<!-- reaserch 1 - Robotic Surface Finishing -->	
		<div class="well" > <!-- I remove this part style="overflow: auto;" -->
			<center>
			<a target="_blank" href="images/research/Team_Advanced_Robotics_Finishing - ariyan kabir.jpg">
				<img src="images/research/Team_Advanced_Robotics_Finishing - ariyan kabir.jpg" alt="reaserch1" style="width:50%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Robotic Surface Finishing</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Ariyan Kabir (PhD Student), Brual Shah (Post Doc)
				</p><br><br><br><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm1" data-toggle="collapse" data-target="#demo1" style="margin-left:-15px;  background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo1" class="collapse" style=" max-width: 600px; text-align: justify; ">
					<br>
					Finishing processes can take up-to 25% of the manufacturing cost. These operations (e.g. cleaning, sanding, polishing) are highly non-repetitive. The task profile changes with change in surface geometry, material, and tool. We are creating a smart robotic assistant that can carry out the labor intensive tasks. Our technology of automated robotic finishing will significantly expand the role of robots in small and medium size productions.

					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
	<!-- reaserch 2 - Robotic Smart Assistant for Manufacturing (RoboSAM) -->	
		<div class="well" >
			<center>
			<a target="_blank" href="images/research/RoboSAM1 - Nithyananda Bhat.png">
				<img src="images/research/RoboSAM1 - Nithyananda Bhat.png" alt="reaserch1" style="width:40%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Robotic Smart Assistant for Manufacturing (RoboSAM)</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Nithyananda Bhat Kumbla (Faculty Assistant)
				</p><br><br><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm2" data-toggle="collapse" data-target="#demo2" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo2" class="collapse" style="  max-width: 600px; text-align: justify;">
					<br>
					  Extracting a part from a bin of mixed parts is a highly non-repetitive task. Non-contact based perception system has to be used to estimate the pose of the part that is to be extracted from the bin. Any uncertainty in the part pose estimate can increase failure rates. We define several grasp strategies for a part and run a Monte Carlo simulator to estimate the execution time and the probability of success for each grasp strategy. The motion plan corresponding to the grasp strategy with lowest completion time is chosen. The robot is smart enough to perform fine positioning moves to improve pose accuracy during drop-off and invoke human intervention if a failure occurs during pose estimation or part extraction. 
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
	<!-- reaserch 14 - Highly removable water support for Stereolithography-->	
		<div class="well" >
			<center>
			<a target="_blank" href="images/research/IMG_0451 - JIE JIN.JPG">
				<img src="images/research/IMG_0451 - JIE JIN.JPG" alt="reaserch14" style="width:40%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Highly removable water support for Stereolithography</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Jie Jin (PhD Student)
				</p><br><br><br><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm14" data-toggle="collapse" data-target="#demo14" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo14" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					The process uses solid ice to surround the built parts in the layer-by-layer fabrication process. A cooling device is used to freeze the water into ice for each layer. The photocurable resin is spread on ice surface and then solidified by a projection image. Accordingly, a complex 3D object can be fabricated without using traditional support structures. After the fabrication process, the additional ice structure can easily be removed leaving no undesired marks on the bottom surfaces.
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
	<!-- reaserch 3 - Augmenting Human Robot Collaborative Work Cell with Sensor Feedback-->	
		<div class="well" >
			<center>
			<a target="_blank" href="images/research/setup2 - Nithyananda Bhat.jpg">
				<img src="images/research/setup2 - Nithyananda Bhat.jpg" alt="reaserch1" style="width:35%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4> Augmenting Human Robot Collaborative Work Cell with Sensor Feedback</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Nithyananda Bhat Kumbla (Faculty Assistant)
				</p><br><br><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm3" data-toggle="collapse" data-target="#demo3" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo3" class="collapse" style="  max-width: 600px; text-align: justify;">
					<br>
					  Human robot collaboration can be very effective in increasing the productivity in small volume manufacturing. We propose a 2 robot and a human work cell architecture to perform complicated assembly tasks in the presence of perception uncertainty. We use sensor integrated technology is used to estimate the pose of the part after it has been grasped and establish a collaboration between the robots to complete the assembly task. The role of the human is to assist the robot in complicated assembly task and handle any failures during the task execution.
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
	<!-- reaserch 4 - AR Interface for Controlling Robots  -->	
		<div class="well">
			<center>
			<a target="_blank" href="images/research/HoloLens - JingSong Chu.jpg">
				<img src="images/research/HoloLens - JingSong Chu.jpg" alt="reaserch1" style="width:40%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4> Augmented Reality (AR) Interface for Controlling Robots </h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					JingSong Chu (MS), Ariyan Kabir ((PhD Student)
				</p><br><br><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm4" data-toggle="collapse" data-target="#demo4" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo4" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					  Augmented reality is newly developed technology. It combines the virtual world and physical world. With the help of advanced AR technology, manufacturing process will be optimized. We are using Microsoft HoloLens to create a UI to visualize robot hologram and move each joints of the hologram to control the real robot. Our project will help people prevent the manipulation error and increase the speed of the process.
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>	
	<!-- reaserch 5 - Picking and Placing with Baxter Robot-->	
		<div class="well">
			<center>
			<a target="_blank" href="images/research/working people - Han Xu.jpg">
				<img src="images/research/working people - Han Xu.jpg" alt="reaserch1" style="width:35%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4> Picking and Placing with Baxter Robot</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Han Xu (MS)
				</p><br><br><br>
				
				<div class="container">
					<button type="button" class="btn btn-info" id="btm5" data-toggle="collapse" data-target="#demo5" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo5" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					  The pick and place system automatically locates randomly assorted blocks on the workbench and place it into the tray. We have incorporated planning algorithm that plans the path to pick up target block without hitting other blocks. The system is Human Robot Collaboration system. During the operation, camera is used to track human operater which is then used to automatically alter the robot's path. Perception the cooperation of human.
					  
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>		
	<!-- reaserch 6 -Robot Assisted Additive Manufacturing of Multi-Functional Thin Structures-->	
		<div class="well">
			<center>
			<a target="_blank" href="images/research/IMG_9597 - Prahar Bhatt.JPG">
				<img src="images/research/IMG_9597 - Prahar Bhatt.JPG" alt="reaserch1" style="width:40%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4> Robot Assisted Additive Manufacturing of Multi-Functional Thin Structures</h4><br>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Prahar Bhatt (Visiting Scholar), Max Peralta (Summer intern)
				<br><br><br><br>
			
				<div class="container">
					<button type="button" class="btn btn-info" id="btm6" data-toggle="collapse" data-target="#demo6" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo6" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					A three stage manufacturing cell for 3-dimensional flexible thin structures. The cell consists of three stages: 1) Cutting 2) Assembly and Tape Layup 3) Adhesion.
					The current research application is in developing flexible Robo-Raven wings with solar panels. The setup can load any CAD model and develop the product using Epson S5 robotic arm and the related tools. This automations increases the speed of production, product quality, accuracy and bonding strength.  	
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>		
	<!-- reaserch 7 - Additive Manufacturing with Robots - the changes has been done-->	
		<div class="well">
			<center>
			<a target="_blank" href="images/research/RobotStduio Simulation of nonplaner printing - Aniruddha Vijaykumar Shembekar.JPG">
				<img src="images/research/RobotStduio Simulation of nonplaner printing - Aniruddha Vijaykumar Shembekar.JPG" alt="reaserch1" style="width:40%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Non-planar Additive Manufacturing using 6-axis Robotic Arm</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Alec Kanyuck, Aniruddha Shembekar(MS)
				</p><br><br><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm7" data-toggle="collapse" data-target="#demo7" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo7" class="collapse" style="  max-width: 600px; text-align: justify;">
					<br>
					Platform: ABB IRB120, Markforged Fiber Extruder
					The scope of this project includes Tool Path Planning, Stress Analysis for Carbon Fiber Layup Direction, Extruder Calibration, Robotic Control, and Final Part Strength Testing.<br>
					- In Additive Manufacturing (3D printing), the extruder is limited to travel in the XY plane to generate each layer. Due to non-continuity, the strength of the final part along the z direction can be very limited. One alternative to this problem is to print the model with tool travel in all three directions simultaneously. This requires 6 DOF. With a 6 DOF system, the extruder can be tilted on each axis to avoid hitting the layers of the part that have already been printed, as it prints each successive 3D layer.
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
	<!-- reaserch 8 - Automated Tool Changing Mechanism-->	
		<div class="well">
			<center>
			<a target="_blank" href="images/research/Capture - Rohil Aggarwal.PNG">
				<img src="images/research/Capture - Rohil Aggarwal.PNG" alt="reaserch8" style="width:30%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Automated Tool Changing Mechanism</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Rohil Aggarwal (Research Assistant), Mark (MS), Yash (UG Student), Ariyan Kabir (PhD Student)
				</p><br><br><br><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm8" data-toggle="collapse" data-target="#demo8" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo8" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					Robotic arms designed nowadays are capable to handle complex tasks/assemblies without any human intervention. But such tasks require a robotic hand to operate with a variety of tools. This generates the need of an automatic tool changing mechanism. Commercially available tool changers are very costly as they use hydraulics or pneumatic systems for actuation. The aim of my project is to make a cheaper tool change mechanism by eliminating costly actuation systems and high tolerance requirements by 3D printing custom parts. 
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
	<!-- reaserch 9 - Soft Fingers with Controllable Compliance-->	
		<div class="well" >
			<center>
			<a target="_blank" href="images/research/Untitled1 - Keng-Yu Lin.jpg">
				<img src="images/research/Untitled1 - Keng-Yu Lin.jpg" alt="reaserch9" style="width:50%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Soft Fingers with Controllable Compliance</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Keng-Yu Lin (MS)
				</p><br><br><br><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm9" data-toggle="collapse" data-target="#demo9" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo9" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					We have built low-cost soft finger with controllable stiffness grippers successfully, which have the same performance as the traditional multi-ﬁnger grippers. We have built a three-fingered pneumatically actuated gripper that only requires simple pneumatic actuation. Our gripper is attached to a UR5 robot arm. The robot arm is able to lift heavy objects using the new gripper.
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
	<!-- reaserch 10 - 3D Printed Robotic Arm<-->	
		<div class="well">
			<center>
			<a target="_blank" href="images/research/Robotic Arm CAD Model2 - Aniruddha Vijaykumar Shembekar.JPG">
				<img src="images/research/Robotic Arm CAD Model2 - Aniruddha Vijaykumar Shembekar.JPG" alt="reaserch10" style="width:50%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>3D Printed Robotic Arm</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Rohil Aggarwal (MS), Aniruddha Shembekar (MS)
				</p><br><br><br><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm10" data-toggle="collapse" data-target="#demo10" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo10" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					Conventional robotic arms are little heavier and costly for their load carrying capacity. We are currently building a robotic arm with almost all of the major components 3D printed. Our aim is to build the arm with a lower cost and weight for payload capacity comparable to industrial robots. 
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>	
	<!-- reaserch 11 - Automatic and Reusable Support for 3D Printing-->
	<!-- temprory removed from list 
		<div class="well" style="overflow: auto;">
			<center>
			<a target="_blank" href="images/research/Teapot - Yang Xu.JPG">
				<img src="images/research/Teapot - Yang Xu.JPG" alt="reaserch11" style="width:45%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Automatic and Reusable Support for 3D Printing</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Yang Xu
				</p>
				<h5> Email of contact person : </h5>
				<p style="font-size:13px ">
					yxu195@usc.edu
				</p>
				<br>
				<br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm11" data-toggle="collapse" data-target="#demo11" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo11" class="collapse" style=" width: 600px; text-align: justify;">
					<br>
					Three-dimensional (3D) printers such as fused deposition modeling (FDM) need to add supports to a digital model in order to be printed. The additional supports using the same or different materials have several drawbacks such as the supports are a waste of materials and the support printing is time-consuming. We develop a new type of metal supports that serve as the trunks of the required supports to reduce the printed supports. When finishing the printing of a layer, the metal rods will be moved up the same layer distance as the printer head. The stop positions of the metal rods are set by metal tubes with pre-defined lengths. After the printing process, the metal rods can easily be removed and reused.
					
				  </div>
			</div>		
		</div>	
	
	
	-->
	<!-- reaserch 12 - High Speed Mobile Manipulation-->	
		<div class="well" >
			<center>
			<a target="_blank" href="images/research/DSC_0106.JPG">
				<img src="images/research/DSC_0106.JPG" alt="reaserch12" style="width:45%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>High Speed Mobile Manipulation</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Shantanu Thakar (PhD Student)
				</p><br><br><br><br><br>


				<div class="container">
					<button type="button" class="btn btn-info" id="btm12" data-toggle="collapse" data-target="#demo12" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo12" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					In this project we want to minimize the time required to pick up an object using a mobile manipulator. Typically, the motion planning for the mobile base and the robotic arm are treated independently. Here, we are attempting to utilize the increased flexibility provided by the mobile base to compliment the motion of the robot arm for achieving high speed part pick up. 
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
	<!-- reaserch 13 - Box Towing project-->	
		<div class="well">
			<center>
			<a target="_blank" href="images/research/husky2-Vivek Annem.jpg">
				<img src="images/research/husky2-Vivek Annem.jpg" alt="reaserch13" style="width:40%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Box Towing project</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Vivek Annem (MS), Pradeep Rajendran (PhD Student)
				</p><br><br><br><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm13" data-toggle="collapse" data-target="#demo13" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo13" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					The objective is to tow boxes autonomously using the Husky robot. The localization is performed using optical flow (Lucas Kanade Tracker). Towing mechanism, path planning and other aspects of the project are under progress.
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
	<!-- reaserch 15 - Automation in Composite Prepreg Sheet Layup -->	
		<div class="well">
			<center>
			<a target="_blank" href="images/research/Prepreg_Sheet_Layup.png">
				<img src="images/research/Prepreg_Sheet_Layup.png" alt="reaserch15" style="width:25%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Automation in Composite Prepreg Sheet Layup</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Rishi Malhan, Ariyan Kabir, Brual Shah
				</p><br><br><br>
				

				<div class="container">
					<button type="button" class="btn btn-info" id="btm15" data-toggle="collapse" data-target="#demo15" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo15" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					  Project features a multi-robot cell lead by Kuka Iiwa 7 robotic arm to layup composite prepreg sheet on a tool comprising of complex geometries. Scope of the project is to generate Automated motion plan for the process, Design adequate tools for the layup and develop a collision free path with optimum force, velocity and temperature parameters and resolve contingencies with a live feedback during the process.

					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>	
	<!-- reaserch 16 - Collaborative Assembly -->	
		<div class="well" >
			<center>
			<a target="_blank" href="images/research/Collaborative_Assembly.png">
				<img src="images/research/Collaborative_Assembly.png" alt="reaserch16" style="width:25%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Collaborative Assembly</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Rishi Malhan, Brual Shah, Ariyan Kabir
				</p><br><br><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm16" data-toggle="collapse" data-target="#demo16" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo16" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					  Contingencies during any assembly process is unavoidable. These contingencies in a traditional assembly workcell cannot be handled automatically by the robots. Our goal is to implement motion under impedance control instead of position control with a strong feedback for the process parameters and learn from the previous assemblies. Such systems can very well cater towards small volume production where it becomes expensive affair to develop fixtures and path for the robots.

					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>	
	<!-- reaserch 17 - Biomimetic 3D printing -->	
		<div class="well">
			<center>
			<a target="_blank" href="images/research/Biomimetic_3D_printing.png">
				<img src="images/research/Biomimetic_3D_printing.png" alt="reaserch17" style="width:40%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Biomimetic 3D printing</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Yang Yang, Xiangjia Li, Zeyu Chen, Benshuai Xie
				</p>
				<br>
				<br>
				<br>
				<br>
			
				<div class="container">
					<button type="button" class="btn btn-info" id="btm17" data-toggle="collapse" data-target="#demo17" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo17" class="collapse" style=" max-width: 600px; text-align: justify;">
					<br>
					  Biomimetic architectures with Bouligand-type carbon nanotubes are fabricated by an electrically assisted 3D-printing method. The enhanced impact resistance is attributed to the energy dissipation by the rotating anisotropic layers. This approach is used to mimic the collagen-fiber alignment in the human meniscus to create a reinforced artificial meniscus with circumferentially and radially aligned carbon nanotubes.

					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
</div>

