
<div class="container">
	<div class="well" ng-repeat="x in reData">
			<center>
			<a target="_blank" href="images/research/{{ x.PicUrl }}">
				<img src="images/research/{{ x.PicUrl }}" alt="reaserch {{ $index + 1 }}" style="width:45%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>{{$index + 1}} - {{x.ReName}}</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					{{x.RePeople}}
				</p>
				<h5> Email of contact person : </h5>
				<p style="font-size:13px ">
					{{x.ReEmail}}
				</p><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm{{ $index + 1 }}" data-toggle="collapse" data-target="#demo{{ $index + 1 }}" style="margin-left:-15px;  background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo{{$index + 1}}" class="collapse" style=" max-width: 600px; text-align: justify; ">
					<br>
					  {{x.ReContent}}
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>
	</div>
</div>





