

<h3>Fade in Tabs</h3>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')">London</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>


<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>


<div class="container">
	<div class="well" style="overflow: auto;">
		<center>
			<h3>USC- Center for Advanced Manufacturing</h3>
		</center>
		<p>
			The University of Southern California has established a new center focused on Advanced Manufacturing. The center will support a comprehensive program in advanced manufacturing. The goals of the center are to:
		</p>
		<p>
			- Grow manufacturing research at USC by launching new initiatives;<br>
			- Enrich educational experience of students and help in attracting high quality students to USC;<br>
			- Provide access to the latest manufacturing technology to the USC community;<br>
			- Support manufacturing industry in the Southern California region.
		</p>	
		<!-- Vision -->
		<div class="flip" id="flip1">+ Vision</div>
			<div class="panel" id="panel1">
				<p>Improve lives through advances in manufacturing by:</p>
				<ul style="list-style-type: square;">
					<li>Broadening the pool of inventors</li>
					<li>Enabling innovation to grow manufacturing industry</li>
					<li>Realizing flexible manufacturing at affordable costs</li>
					<li>Creating jobs by enabling in-shoring</li>
					<li>Reducing environmental impacts of manufacturing</li>
				</ul>
			</div>	
		<!-- Mission -->
		<div class="flip" id="flip2">+ Mission</div>
			<div class="panel" id="panel2">
				<p>The center will support the Viterbi School and its partners by:</p>
				<ul style="list-style-type: square;">
					<li>Conducting basic and applied research to enable advances in manufacturing</li>
					<li>Identifying new opportunities in manufacturing areas and launching new initiatives to address them</li>
					<li>Developing interdisciplinary manufacturing education programs</li>
					<li>Supporting outreach to the K-12 community</li>
					<li>Providing access to advanced manufacturing capabilities to the USC community</li>
					<li>Providing manufacturing expertise to companies in the Southern California region</li>
					<li>Transitioning research results into industrial practice</li>
				</ul>
			</div>		
		<!-- Focus Areas -->
		<div class="flip" id="flip3">+ Focus Areas</div>
			<div class="panel" id="panel3">
				<p>The center has the following four focus areas.</p>
				<!--Indead from Focus Area-->
				<ul>
					<!--Indead 1-->
					<li>
						<div class="flip1" id="flip4">+ Focus Area 1: Digital Manufacturing</div>
						<p>This area leverages the latest advances in the information technology and computing areas to realize tools and methods to reduce reliance on physical prototyping, to enable distributed collaboration in global environment, and to manage information. Representative areas include:</p>
						<div class="panel1" id="panel4">
							<ul style="list-style-type: square;">
								<li>Virtual prototyping of complex products</li>
								<li>High fidelity simulations of manufacturing operations</li>
								<li>Manufacturing system design and optimization</li>
								<li>Automated planning, instruction generation, and cost estimation</li>
								<li>Product life cycle management (PLM)</li>
							</ul>
						</div>
					</li>
					<!--Indead 2-->
					<br>
					<li>
						<div class="flip1" id="flip5">+ Focus Area 2: Additive Manufacturing.</div>
						<p>This area focuses on making advances in the additive manufacturing processes to enable the realization of innovative products. Representative topics include:</p>
						<div class="panel1" id="panel5">
							<ul style="list-style-type: square;">
								<li>Multi-material processes</li>
								<li>Multi-scale processes</li>
								<li>Processes for creating multi-functional structures</li>
								<li>Automated post-processing</li>
								<li>Metrology</li>
								<li>Process modeling and control</li>
							</ul>
						</div>
					</li>
					<!--Indead 3-->
					<br>
					<li>
						<div class="flip1" id="flip6">+ Focus Area 3: Robotics and Automation.</div>
						<p>This area focuses on the development of technologies to reduce human labor and manufacturing and hence make manufacturing cost-competitive in the US.<br>
						Representative topics include:</p>
						<div class="panel1" id="panel6">
							<ul style="list-style-type: square;">
								<li>Mobile manipulation</li>
								<li>Low cost custom robots</li>
								<li>Assemblies with highly compliant parts</li>
								<li>Automation for meso, micro and nanoscale assemblies</li>
								<li>Learning from demonstrations</li>
								<li>Human robot collaboration</li>
							</ul>
						</div>
					</li>
					<br>
					<!--Indead 4-->
					<li>
						<div class="flip1" id="flip7">+ Focus Area 4: Smart Manufacturing</div>
						<p>This area focuses on improving resource utilization, reducing errors, and increasing responsiveness to changes. Representative topics include:</p>
						<div class="panel1" id="panel7">
							<ul style="list-style-type: square;">
								<li>Exploit Internet-of-Things</li>
								<li>Efficient resource utilization</li>
								<li>Energy efficient manufacturing</li>
								<li>Energy efficient automation</li>
								<li>Multi-modal sensing for process monitoring</li>
								<li>Big data for prediction and optimization</li>
								<li>Contingency planning to recover from errorsfill-reg</li>
							</ul>
						</div>
					</li>						
					
					
				</ul>
			</div>	
	
		
	
		
	</div>
</div>

