<div class= "container">
	<div class="row">
		
		<!-- equipment 1-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto;">
				<center>
		  			<a>
			  			<img src="images/KUKA_IIWA7.JPG" class="img-responsive" id="myBtn1" alt="KUKA IIWA 7 Robots" width="200" height="180">
		  			</a>
					<!--name of the equipment 1-->
			  		<h5>KUKA IIWA 7 Robots</h5>
	  			</center>
				
				<!-- Modal for equipment 1 -->
				  <div class="modal fade" id="myModal1" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for equipment 1-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">KUKA IIWA 7 Robots</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/KUKA_IIWA7.JPG">
								<img src="images/KUKA_IIWA7.JPG" alt="reaserch1" alt="KUKA IIWA 7 Robots" style="width:200px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
							As a specialist in the field of robotics and automation technology, KUKA Robotics is one of the leading manufacturers of industrial robots. With its wide selection of robots, KUKA covers virtually all payload ranges and robot types, and sets standards in the field of human-robot collaboration (HRC).
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- equipment 2-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto;">
				<center>
		  			<a>
			  			<img src="images/ABB_IRB120.JPG" class="img-responsive" id="myBtn2" alt="ABB IRB 120 Robot" width="200" height="180">
		  			</a>
					<!--name of the equipment 1-->
			  		<h5>ABB IRB 120 Robot</h5>
	  			</center>
				
				<!-- Modal for equipment 1 -->
				  <div class="modal fade" id="myModal2" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for equipment 1-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">ABB IRB 120 Robot</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/ABB_IRB120.JPG">
								<img src="images/ABB_IRB120.JPG" alt="reaserch1" alt="ABB IRB 120 Robot" style="width:200px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								The IRB 120T is the benchmark for rapid pick and place applications requiring extreme flexibility combined with industry leading 10 micron repeatability. While keeping its trademark compact, agile and lightweight features, the six-axis IRB 120T variant delivers a substantial increase in the maximum speeds of axis 4,5 and 6, resulting in cycle time improvements of up to 25%.
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!-- equipment 3-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto;">
				<center>
		  			<a>
			  			<img src="images/KUKA_IIWA7.JPG" class="img-responsive" id="myBtn3" alt="KUKA IIWA 7 Robots" width="200" height="180">
		  			</a>
					<!--name of the equipment 1-->
			  		<h5>KUKA IIWA 7 Robots</h5>
	  			</center>
				
				<!-- Modal for equipment 1 -->
				  <div class="modal fade" id="myModal3" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for equipment 1-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">KUKA IIWA 7 Robots</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/KUKA_IIWA7.JPG">
								<img src="images/KUKA_IIWA7.JPG" alt="reaserch1" alt="KUKA IIWA 7 Robots" style="width:200px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
							As a specialist in the field of robotics and automation technology, KUKA Robotics is one of the leading manufacturers of industrial robots. With its wide selection of robots, KUKA covers virtually all payload ranges and robot types, and sets standards in the field of human-robot collaboration (HRC).
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--End-->
	</div>
</div>