<div class= "container">
	<div class="row">
		<!---------------------------------------->
		<!-- having collapse for each section: Robot section -->
		<div class="flip" id="flip1" style="text-align: center; font-size: 30px;">Robots</div>
			<div class="panel" id="panel1">
				<div class="well" style="overflow: auto;">
					<!-- equipment 1:KUKA IIWA 7 Robots done-->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/KUKA_IIWA7.JPG" class="img-responsive" id="myBtn1" alt="KUKA IIWA 7 Robots" width="200" height="180">
								</a>
								<!--name of the equipment 1-->
								<h5> <span style="color: #991b1e;"> KUKA </span> IIWA 7 Robots</h5>
							</center>

							<!-- Modal for equipment 1 -->
							  <div class="modal fade" id="myModal1" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 1-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
										<h4 class="modal-title"><span style="color: #991b1e;"> KUKA </span>IIWA 7 Robots</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/KUKA_IIWA7.JPG">
											<img src="images/Machines/KUKA_IIWA7.JPG" alt="KUKA IIWA 7 Robots" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											The LBR iiwa is the world’s first series-produced sensitive, and therefore HRC-compatible, robot. LBR stands for “Leichtbauroboter” (German for lightweight robot), iiwa for “intelligent industrial work assistant”.
											<a href="https://www.kuka.com/en-us/products/robotics-systems/industrial-robots/lbr-iiwa" target="KUKA IIWA 7 Robots">Read More</a> 
											<br>
											<br>
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>

					<!-- equipment 2: ABB IRB 120 Robot done-->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/ABB_IRB120.JPG" class="img-responsive" id="myBtn2" alt="ABB IRB 120 Robot" width="200" height="180">
								</a>
								<!--name of the equipment 2-->
								<h5><span style="color: #991b1e;">ABB</span> IRB 120 Robot</h5>
							</center>

							<!-- Modal for equipment 2 -->
							  <div class="modal fade" id="myModal2" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 2-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">ABB</span> IRB 120 Robot</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/ABB_IRB120.JPG">
											<img src="images/Machines/ABB_IRB120.JPG" alt="ABB IRB 120 Robot" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											The IRB 120 robot is the latest addition to ABB’s new
											fourth-generation of robotic technology and ABB’s smallest
											robot ever produced. Ideal for material handling and
											assembly applications, the new IRB 120 robot provides
											an agile, compact and lightweight solution with superior
											control and path accuracy.
											<a href="references/Machines/ROB0149EN_D_LR.pdf" target="ABB IRB 120 Robot" >Read More</a>
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>

					<!-- equipment 3: Rethink Robotics Baxter Robot - done-->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Rethink_Baxter.jpg" class="img-responsive" id="myBtn3" alt="Rethink Robotics Baxter Robot" width="200" height="180">
								</a>
								<!--name of the equipment 3-->
								<h5><span style="color: #991b1e;">Rethink Robotics</span> Baxter Robot</h5>
							</center>

							<!-- Modal for equipment 3 -->
							  <div class="modal fade" id="myModal3" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 3-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Rethink Robotics</span> Baxter Robot </h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Rethink_Baxter.jpg">
											<img src="images/Machines/Rethink_Baxter.jpg" alt="Rethink Robotics Baxter Robot" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											Baxter is a proven solution for a wide range of tasks,<br>
											from packing and kitting to line loading
											and material handling. 
											<a href="references/Machines/Baxter_Datasheet_Oct2015.pdf" target="Rethink Robotics Baxter Robot" >Read More</a>
											<br>
											<br>
											<br>
											<br>
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- equipment 4: Universal Robots UR5 done-->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Universal_Robots_UR5.png" class="img-responsive" id="myBtn4" alt="Universal Robots UR5" width="200" height="180">
								</a>
								<!--name of the equipment 4-->
								<h5><span style="color: #991b1e;">Universal Robots</span> UR5</h5>
							</center>

							<!-- Modal for equipment 4 -->
							  <div class="modal fade" id="myModal4" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 4-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Universal Robots</span> UR5</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Universal_Robots_UR5_2.png">
											<img src="images/Machines/Universal_Robots_UR5_2.png" alt="Universal Robots UR5" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											The lightweight, flexible and collaborative industrial robot - UR5 - from Universal Robots<br>
											lets you automate repetitive and dangerous tasks with payloads of up to 5 kg. The UR5 is <br>
											ideal to optimize low-weight collaborative processes, such as: picking, placing and testing.
											<a href="references/Machines/Universal_Robots_UR5.pdf" target="Universal Robots UR5" >Read More</a>
											<br>
											<br>
											<br>
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- equipment 5: Clearpath Robotics Husky Robot done-->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Clearpath_Husky.png" class="img-responsive" id="myBtn5" alt="Clearpath Robotics Husky Robot" width="200" height="180">
								</a>
								<!--name of the equipment 4-->
								<h5><span style="color: #991b1e;">Clearpath Robotics</span> Husky Robot</h5>
							</center>

							<!-- Modal for equipment 4 -->
							  <div class="modal fade" id="myModal5" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 4-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Clearpath Robotics</span> Husky Robot</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Clearpath_Husky.png">
											<img src="images/Machines/Clearpath_Husky.png" alt="Clearpath Robotics Husky Robot" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											Husky is a medium sized robotic development platform. Its large payload capacity<br>
											and power systems accommodate an extensive variety of payloads, customized to meet<br>
											research needs. Stereo cameras, LIDAR, GPS, IMUs, manipulators and more can be added<br>
											to the UGV by our integration experts. 
											<a href="https://www.clearpathrobotics.com/husky-unmanned-ground-vehicle-robot/" target="Clearpath Robotics Husky Robot" >Read More</a>
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- equipment 6: Epson Robots S5 - need more data -->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Epson_Robots.JPG" class="img-responsive" id="myBtn6" alt="Epson Robots S5" width="200" height="180">
								</a>
								<!--name of the equipment 6-->
								<h5><span style="color: #991b1e;">Epson</span> S5</h5>
							</center>

							<!-- Modal for equipment 6 -->
							  <div class="modal fade" id="myModal6" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 6-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Epson</span> S5</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Epson_Robots.JPG">
											<img src="images/Machines/Epson_Robots.JPG" alt="Epson Robots S5" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
												Need Data
											<a href="https://www.google.com/" >need dataRead More</a>
										</p>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
				<!-- equipment 7: Epson Robots C3 - need more data -->
					<div class="col-sm-6">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Epson_Robots.JPG" class="img-responsive" id="myBtn7" alt="Epson Robots C3" width="200" height="180">
								</a>
								<!--name of the equipment 7-->
								<h5><span style="color: #991b1e;">Epson</span> C3</h5>
							</center>

							<!-- Modal for equipment 7 -->
							  <div class="modal fade" id="myModal7" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 7-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Epson</span> C3</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Epson_Robots.JPG">
											<img src="images/Machines/Epson_Robots.JPG" alt="Epson Robots C3" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
												Need Data
											<a href="https://www.google.com/" >need dataRead More</a>
										</p>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>

					<!-- equipment 8: Epson Robots G3 - need more data -->
					<div class="col-sm-6">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Epson_Robots.JPG" class="img-responsive" id="myBtn8" alt="Epson Robots G3" width="200" height="180">
								</a>
								<!--name of the equipment 8-->
								<h5><span style="color: #991b1e;">Epson</span> G3</h5>
							</center>

							<!-- Modal for equipment 8 -->
							  <div class="modal fade" id="myModal8" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 8-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Epson</span> G3</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Epson_Robots.JPG">
											<img src="images/Machines/Epson_Robots.JPG" alt="Epson Robots G3" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
												Need Data
											<a href="https://www.google.com/" >need dataRead More</a>
										</p>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!--End of Robots-->
				</div>
			</div>
			<!--End of Robot Section-->
		<!---------------------------------------->
		<!-- having collapse for each section: 3D Printers -->
		<div class="flip" id="flip2" style="text-align: center; font-size: 30px;">3D Printers</div>
			<div class="panel" id="panel2">
				<div class="well" style="overflow: auto;">	
					<!-- equipment 1:KUKA IIWA 7 Robots done-->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/KUKA_IIWA7.JPG" class="img-responsive" id="myBtn1" alt="KUKA IIWA 7 Robots" width="200" height="180">
								</a>
								<!--name of the equipment 1-->
								<h5> <span style="color: #991b1e;"> KUKA </span> IIWA 7 Robots</h5>
							</center>

							<!-- Modal for equipment 1 -->
							  <div class="modal fade" id="myModal1" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 1-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
										<h4 class="modal-title"><span style="color: #991b1e;"> KUKA </span>IIWA 7 Robots</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/KUKA_IIWA7.JPG">
											<img src="images/Machines/KUKA_IIWA7.JPG" alt="KUKA IIWA 7 Robots" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											The LBR iiwa is the world’s first series-produced sensitive, and therefore HRC-compatible, robot. LBR stands for “Leichtbauroboter” (German for lightweight robot), iiwa for “intelligent industrial work assistant”.
											<a href="https://www.kuka.com/en-us/products/robotics-systems/industrial-robots/lbr-iiwa" target="KUKA IIWA 7 Robots">Read More</a> 
											<br>
											<br>
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- equipment 2: ABB IRB 120 Robot done-->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/ABB_IRB120.JPG" class="img-responsive" id="myBtn2" alt="ABB IRB 120 Robot" width="200" height="180">
								</a>
								<!--name of the equipment 2-->
								<h5><span style="color: #991b1e;">ABB</span> IRB 120 Robot</h5>
							</center>

							<!-- Modal for equipment 2 -->
							  <div class="modal fade" id="myModal2" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 2-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">ABB</span> IRB 120 Robot</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/ABB_IRB120.JPG">
											<img src="images/Machines/ABB_IRB120.JPG" alt="ABB IRB 120 Robot" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											The IRB 120 robot is the latest addition to ABB’s new
											fourth-generation of robotic technology and ABB’s smallest
											robot ever produced. Ideal for material handling and
											assembly applications, the new IRB 120 robot provides
											an agile, compact and lightweight solution with superior
											control and path accuracy.
											<a href="references/Machines/ROB0149EN_D_LR.pdf" target="ABB IRB 120 Robot" >Read More</a>
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- equipment 3: Rethink Robotics Baxter Robot - done-->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Rethink_Baxter.jpg" class="img-responsive" id="myBtn3" alt="Rethink Robotics Baxter Robot" width="200" height="180">
								</a>
								<!--name of the equipment 3-->
								<h5><span style="color: #991b1e;">Rethink Robotics</span> Baxter Robot</h5>
							</center>

							<!-- Modal for equipment 3 -->
							  <div class="modal fade" id="myModal3" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 3-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Rethink Robotics</span> Baxter Robot </h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Rethink_Baxter.jpg">
											<img src="images/Machines/Rethink_Baxter.jpg" alt="Rethink Robotics Baxter Robot" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											Baxter is a proven solution for a wide range of tasks,<br>
											from packing and kitting to line loading
											and material handling. 
											<a href="references/Machines/Baxter_Datasheet_Oct2015.pdf" target="Rethink Robotics Baxter Robot" >Read More</a>
											<br>
											<br>
											<br>
											<br>
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- equipment 4: Universal Robots UR5 done-->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Universal_Robots_UR5.png" class="img-responsive" id="myBtn4" alt="Universal Robots UR5" width="200" height="180">
								</a>
								<!--name of the equipment 4-->
								<h5><span style="color: #991b1e;">Universal Robots</span> UR5</h5>
							</center>

							<!-- Modal for equipment 4 -->
							  <div class="modal fade" id="myModal4" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 4-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Universal Robots</span> UR5</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Universal_Robots_UR5_2.png">
											<img src="images/Machines/Universal_Robots_UR5_2.png" alt="Universal Robots UR5" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											The lightweight, flexible and collaborative industrial robot - UR5 - from Universal Robots<br>
											lets you automate repetitive and dangerous tasks with payloads of up to 5 kg. The UR5 is <br>
											ideal to optimize low-weight collaborative processes, such as: picking, placing and testing.
											<a href="references/Machines/Universal_Robots_UR5.pdf" target="Universal Robots UR5" >Read More</a>
											<br>
											<br>
											<br>
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- equipment 5: Clearpath Robotics Husky Robot done-->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Clearpath_Husky.png" class="img-responsive" id="myBtn5" alt="Clearpath Robotics Husky Robot" width="200" height="180">
								</a>
								<!--name of the equipment 4-->
								<h5><span style="color: #991b1e;">Clearpath Robotics</span> Husky Robot</h5>
							</center>

							<!-- Modal for equipment 4 -->
							  <div class="modal fade" id="myModal5" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 4-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Clearpath Robotics</span> Husky Robot</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Clearpath_Husky.png">
											<img src="images/Machines/Clearpath_Husky.png" alt="Clearpath Robotics Husky Robot" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											Husky is a medium sized robotic development platform. Its large payload capacity<br>
											and power systems accommodate an extensive variety of payloads, customized to meet<br>
											research needs. Stereo cameras, LIDAR, GPS, IMUs, manipulators and more can be added<br>
											to the UGV by our integration experts. 
											<a href="https://www.clearpathrobotics.com/husky-unmanned-ground-vehicle-robot/" target="Clearpath Robotics Husky Robot" >Read More</a>
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- equipment 6: Epson Robots S5 - need more data -->
					<div class="col-sm-4">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Epson_Robots.JPG" class="img-responsive" id="myBtn6" alt="Epson Robots S5" width="200" height="180">
								</a>
								<!--name of the equipment 6-->
								<h5><span style="color: #991b1e;">Epson</span> S5</h5>
							</center>

							<!-- Modal for equipment 6 -->
							  <div class="modal fade" id="myModal6" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 6-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Epson</span> S5</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Epson_Robots.JPG">
											<img src="images/Machines/Epson_Robots.JPG" alt="Epson Robots S5" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
												Need Data
											<a href="https://www.google.com/" >need dataRead More</a>
										</p>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- equipment 7: Epson Robots C3 - need more data -->
					<div class="col-sm-6">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Epson_Robots.JPG" class="img-responsive" id="myBtn7" alt="Epson Robots C3" width="200" height="180">
								</a>
								<!--name of the equipment 7-->
								<h5><span style="color: #991b1e;">Epson</span> C3</h5>
							</center>

							<!-- Modal for equipment 7 -->
							  <div class="modal fade" id="myModal7" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 7-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Epson</span> C3</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Epson_Robots.JPG">
											<img src="images/Machines/Epson_Robots.JPG" alt="Epson Robots C3" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
												Need Data
											<a href="https://www.google.com/" >need dataRead More</a>
										</p>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!-- equipment 8: Epson Robots G3 - need more data -->
					<div class="col-sm-6">
						<div class="well" style="overflow: auto; background-color: lightgray;">
							<center>
								<a>
									<img src="images/Machines/Epson_Robots.JPG" class="img-responsive" id="myBtn8" alt="Epson Robots G3" width="200" height="180">
								</a>
								<!--name of the equipment 8-->
								<h5><span style="color: #991b1e;">Epson</span> G3</h5>
							</center>

							<!-- Modal for equipment 8 -->
							  <div class="modal fade" id="myModal8" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for equipment 8-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title"><span style="color: #991b1e;">Epson</span> G3</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/Machines/Epson_Robots.JPG">
											<img src="images/Machines/Epson_Robots.JPG" alt="Epson Robots G3" style="width:200px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
												Need Data
											<a href="https://www.google.com/" >need dataRead More</a>
										</p>
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!--End of Robots-->
				</div>
			</div>
			<!--End of 3D Printers Section-->
		<!---------------------------------------->
	</div>
</div>