	<div class="container">
		<div class="row">
			<!-- title section -->
			<div id="myScrollspy">
				<!-- robot section - title -->
				<div class="col-sm-6">
						<div class="well" style="overflow: auto;">
							<center>
								<a  href="#!/equipment/#robots" id="robot">
								  <div id="myCarousel" class="carousel slide">

									<!-- Wrapper for robot title -->
									<div class="carousel-inner" role="listbox" style=" width:100%; height: 200px !important;">
									  <div class="item active">
										<img src="images/Machines/robots/KUKA_IIWA7.JPG" alt="" width="460" height="345">
									  </div>

									  <div class="item">
										<img src="images/Machines/robots/ABB_IRB120.JPG" alt="" width="460" height="345">
									  </div>

									  <div class="item">
										<img src="images/Machines/robots/Rethink_Baxter.jpg" alt="" width="460" height="345">
									  </div>

									  <div class="item">
										<img src="images/Machines/robots/Universal_Robots_UR5.png" alt="" width="460" height="345">
									  </div>

									  <div class="item">
										<img src="images/Machines/robots/Clearpath_Husky.png" alt="" width="460" height="345">
									  </div>

									  <div class="item">
										<img src="images/Machines/robots/Epson_Robots.JPG" alt="" width="460" height="345">
									  </div>

									</div>
								  </div>
								<h3 Style="color: #991b1e;">Robots</h3>
								</a>
							</center>
						</div>
					</div>
				<!-- End robot section - title -->
			
				<!-- 3D Printers section - title -->
				<div class="col-sm-6">
					<div class="well" style="overflow: auto;">
						<center>
							<a href="#!/equipment/#3D_printers">
								  <div id="myCarousel" class="carousel slide">
									<!-- Wrapper for 3D Printers title -->
									<div class="carousel-inner" role="listbox" style=" width:100%; height: 200px !important;">
									  <div class="item active">
										<img src="images/Machines/3D_Printers/EOS_M290_DMLS_3D_Printer.png" alt="" width="460" height="345">
									  </div>

									  <div class="item">
										<img src="images/Machines/3D_Printers/Stratasys_uprint.JPG" alt="" width="460" height="345">
									  </div>

									  <div class="item">
										<img src="images/Machines/3D_Printers/3D_Systems_Viper.JPG" alt="" width="460" height="345">
									  </div>

									  <div class="item">
										<img src="images/Machines/3D_Printers/Envisiontec_Ultra.JPG" alt="" width="460" height="345">
									  </div>

									  <div class="item">
										<img src="images/Machines/3D_Printers/MakerBot.png" alt="" width="460" height="345">
									  </div>

									</div>
								  </div>							
							<h3 Style="color: #991b1e;">3D Printers</h3>
							</a>
						</center>
					</div>
				</div>
				<!-- End 3D Printers section - title -->
				
				<!-- CNC Machines section - title -->
				<div class="col-sm-6">
						<div class="well" style="overflow: auto;">
							<center>
								<a  href="#!/equipment/#CNC_Machines" id="robot">
								  <div id="myCarousel" class="carousel slide">

									<!-- Wrapper for CNC Machines title -->
									<div class="carousel-inner" role="listbox" style=" width:100%; height: 200px !important;" >
									  <div class="item active">
										<img src="images/Machines/CNC_Machines/Haas_DT-1-2.JPG" alt="" width="460" height="345">
									  </div>

									  <div class="item">
										<img src="images/Machines/CNC_Machines/DS_TLseries.png" alt="" width="460" height="345">
									  </div>

									  <div class="item">
										<img src="images/Machines/CNC_Machines/Universal_Laser_Systems.JPG" alt="" width="460" height="345">
									  </div>

									</div>
								  </div>
								<h3 Style="color: #991b1e;">CNC Machines</h3>
								</a>
							</center>
						</div>
					</div>
				<!-- End CNC Machines section - title -->
				
				<!-- Molding/ Forming section - title -->
				<div class="col-sm-6">
					<div class="well" style="overflow: auto;">
							<center>
								<a  href="#!/equipment/#Molding_Forming" id="robot" style=" width:100%; height: 200px !important;">
								  <div id="myCarousel" class="carousel slide">

									<!-- Wrapper for Molding/ Forming title -->
									<div class="carousel-inner" role="listbox">
									  <div class="item active">
										<img src="images/Machines/Molding_Forming/Babyplast610P.JPG" alt="" width="460" height="345">
									  </div>
									</div>
								  </div>
								<h3 Style="color: #991b1e;">Molding/ Forming</h3>
								</a>
							</center>
						</div>
				</div>
				<!-- End Molding/ Forming section - title -->
				
				<!-- General Lab Setup - title -->
				<div class="col-sm-12">
					<div class="well" style="overflow: auto;">
							<center>
								<a  href="#!/equipment/#General_Lab_Setup" id="robot" style=" width:100%; height: 200px !important;" >
								  <div id="myCarousel" class="carousel slide">

									<!-- Wrapper for Molding/ Forming title -->
									<div class="carousel-inner" role="listbox">
									  <div class="item active">
										<img src="images/Machines/General_Lab_Setup/Custom_3Dprinters.JPG" alt="" width="460" height="345">
									  </div>
									  <div class="item">
										<img src="images/Machines/General_Lab_Setup/Lab_floor.JPG" alt="" width="460" height="345">
									  </div>
									</div>
								  </div>
								<h3 Style="color: #991b1e;">Molding/ Forming</h3>
								</a>
							</center>
						</div>
				</div>
				<!-- End General Lab Setup section - title -->
			</div>
			<!-- End of the title section -->
			
			<!---------------------------------------->
				<!-- Robot section - need pdf -->
				<div class="col-sm-12">
				<div id="robots"> 
        			<div class="well" style="overflow: auto;">
						<center><h2>Robots</h2></center><br>
						<!-- equipment 1:KUKA IIWA 7 Robots - PDF -->
						<div class="col-sm-4">
							<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 200px !important;">
								<center>
									<a>
										<img src="images/Machines/robots/KUKA_IIWA7.JPG" class="img-responsive" id="myBtn1" alt="KUKA IIWA 7 Robots" width="200" height="180">
									</a>
									<!--name of the equipment 1-->
									<h5> <span style="color: #991b1e;"> KUKA </span> IIWA 7 Robots</h5>
								</center>

								<!-- Modal for equipment 1 -->
								  <div class="modal fade" id="myModal1" role="dialog">
									<div class="modal-dialog">

									  <!-- Modal content for equipment 1-->
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">×</button>
											<h4 class="modal-title"><span style="color: #991b1e;"> KUKA </span>IIWA 7 Robots</h4>
										</div>
										<div class="modal-body">
											<a target="_blank" href="images/Machines/robots/KUKA_IIWA7.JPG">
												<img src="images/Machines/robots/KUKA_IIWA7.JPG" alt="KUKA IIWA 7 Robots" style="width:200px; float: right; margin: 0 0 15px 15px;">
											</a>
											<p style="font-size:15px ">
												The LBR iiwa is the world’s first series-produced sensitive, and therefore HRC-compatible, robot. LBR stands for “Leichtbauroboter” (German for lightweight robot), iiwa for “intelligent industrial work assistant”.
												<a href="https://www.kuka.com/en-us/products/robotics-systems/industrial-robots/lbr-iiwa" target="KUKA IIWA 7 Robots">Read More</a> 
												<br>
												<br>
											</p>
										</div>
										<div class="modal-footer">
										  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									  </div>
									</div>
								</div>
							</div>
						</div>
						<!-- equipment 2: ABB IRB 120 Robot done-->
						<div class="col-sm-4">
							<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 200px !important">
								<center>
									<a>
										<img src="images/Machines/robots/ABB_IRB120.JPG" class="img-responsive" id="myBtn2" alt="ABB IRB 120 Robot" width="200" height="180">
									</a>
									<!--name of the equipment 2-->
									<h5><span style="color: #991b1e;">ABB</span> IRB 120 Robot</h5>
								</center>

								<!-- Modal for equipment 2 -->
								  <div class="modal fade" id="myModal2" role="dialog">
									<div class="modal-dialog">

									  <!-- Modal content for equipment 2-->
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">×</button>
										  <h4 class="modal-title"><span style="color: #991b1e;">ABB</span> IRB 120 Robot</h4>
										</div>
										<div class="modal-body">
											<a target="_blank" href="images/Machines/robots/ABB_IRB120.JPG">
												<img src="images/Machines/robots/ABB_IRB120.JPG" alt="ABB IRB 120 Robot" style="width:200px; float: right; margin: 0 0 15px 15px;">
											</a>
											<p style="font-size:15px ">
												The IRB 120 robot is the latest addition to ABB’s new
												fourth-generation of robotic technology and ABB’s smallest
												robot ever produced. Ideal for material handling and
												assembly applications, the new IRB 120 robot provides
												an agile, compact and lightweight solution with superior
												control and path accuracy.
												<a href="references/Machines/ROB0149EN_D_LR.pdf" target="ABB IRB 120 Robot" >Read More</a>
											</p>
										</div>
										<div class="modal-footer">
										  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									  </div>
									</div>
								</div>
							</div>
						</div>
						<!-- equipment 3: Rethink Robotics Baxter Robot - done-->
						<div class="col-sm-4">
							<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 200px !important">
								<center>
									<a>
										<img src="images/Machines/robots/Rethink_Baxter.jpg" class="img-responsive" id="myBtn3" alt="Rethink Robotics Baxter Robot" width="200" height="180">
									</a>
									<!--name of the equipment 3-->
									<h5><span style="color: #991b1e;">Rethink Robotics</span> Baxter Robot</h5>
								</center>

								<!-- Modal for equipment 3 -->
								  <div class="modal fade" id="myModal3" role="dialog">
									<div class="modal-dialog">

									  <!-- Modal content for equipment 3-->
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">×</button>
										  <h4 class="modal-title"><span style="color: #991b1e;">Rethink Robotics</span> Baxter Robot </h4>
										</div>
										<div class="modal-body">
											<a target="_blank" href="images/Machines/robots/Rethink_Baxter.jpg">
												<img src="images/Machines/robots/Rethink_Baxter.jpg" alt="Rethink Robotics Baxter Robot" style="width:200px; float: right; margin: 0 0 15px 15px;">
											</a>
											<p style="font-size:15px ">
												Baxter is a proven solution for a wide range of tasks,<br>
												from packing and kitting to line loading
												and material handling. 
												<a href="references/Machines/Baxter_Datasheet_Oct2015.pdf" target="Rethink Robotics Baxter Robot" >Read More</a>
												<br>
												<br>
												<br>
												<br>
											</p>
										</div>
										<div class="modal-footer">
										  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									  </div>
									</div>
								</div>
							</div>
						</div>
						<!-- equipment 4: Universal Robots UR5 done-->
						<div class="col-sm-4">
							<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 200px !important">
								<center>
									<a>
										<img src="images/Machines/robots/Universal_Robots_UR5.png" class="img-responsive" id="myBtn4" alt="Universal Robots UR5" width="200" height="180">
									</a>
									<!--name of the equipment 4-->
									<h5><span style="color: #991b1e;">Universal Robots</span> UR5</h5>
								</center>

								<!-- Modal for equipment 4 -->
								  <div class="modal fade" id="myModal4" role="dialog">
									<div class="modal-dialog">

									  <!-- Modal content for equipment 4-->
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">×</button>
										  <h4 class="modal-title"><span style="color: #991b1e;">Universal Robots</span> UR5</h4>
										</div>
										<div class="modal-body">
											<a target="_blank" href="images/Machines/robots/Universal_Robots_UR5_2.png">
												<img src="images/Machines/robots/Universal_Robots_UR5_2.png" alt="Universal Robots UR5" style="width:200px; float: right; margin: 0 0 15px 15px;">
											</a>
											<p style="font-size:15px ">
												The lightweight, flexible and collaborative industrial robot - UR5 - from Universal Robots<br>
												lets you automate repetitive and dangerous tasks with payloads of up to 5 kg. The UR5 is <br>
												ideal to optimize low-weight collaborative processes, such as: picking, placing and testing.
												<a href="references/Machines/Universal_Robots_UR5.pdf" target="Universal Robots UR5" >Read More</a>
												<br>
												<br>
												<br>
											</p>
										</div>
										<div class="modal-footer">
										  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									  </div>
									</div>
								</div>
							</div>
						</div>
						<!-- equipment 5: Clearpath Robotics Husky Robot - PDF -->
						<div class="col-sm-4">
							<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 200px !important">
								<center>
									<a>
										<img src="images/Machines/robots/Clearpath_Husky.png" class="img-responsive" id="myBtn5" alt="Clearpath Robotics Husky Robot" width="200" height="180">
									</a>
									<!--name of the equipment 4-->
									<h5><span style="color: #991b1e;">Clearpath Robotics</span> Husky Robot</h5>
								</center>

								<!-- Modal for equipment 4 -->
								  <div class="modal fade" id="myModal5" role="dialog">
									<div class="modal-dialog">

									  <!-- Modal content for equipment 4-->
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">×</button>
										  <h4 class="modal-title"><span style="color: #991b1e;">Clearpath Robotics</span> Husky Robot</h4>
										</div>
										<div class="modal-body">
											<a target="_blank" href="images/Machines/robots/Clearpath_Husky.png">
												<img src="images/Machines/robots/Clearpath_Husky.png" alt="Clearpath Robotics Husky Robot" style="width:200px; float: right; margin: 0 0 15px 15px;">
											</a>
											<p style="font-size:15px ">
												Husky is a medium sized robotic development platform. Its large payload capacity<br>
												and power systems accommodate an extensive variety of payloads, customized to meet<br>
												research needs. Stereo cameras, LIDAR, GPS, IMUs, manipulators and more can be added<br>
												to the UGV by our integration experts. 
												<a href="https://www.clearpathrobotics.com/husky-unmanned-ground-vehicle-robot/" target="Clearpath Robotics Husky Robot" >Read More</a>
											</p>
										</div>
										<div class="modal-footer">
										  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									  </div>
									</div>
								</div>
							</div>
						</div>
						<!-- equipment 6: Epson Robots S5 - done -->
						<div class="col-sm-4">
							<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 200px !important">
								<center>
									<a>
										<img src="images/Machines/robots/Epson_Robots.JPG" class="img-responsive" id="myBtn6" alt="Epson Robots S5" width="200" height="180">
									</a>
									<!--name of the equipment 6-->
									<h5><span style="color: #991b1e;">Epson</span> S5</h5>
								</center>

								<!-- Modal for equipment 6 -->
								  <div class="modal fade" id="myModal6" role="dialog">
									<div class="modal-dialog">

									  <!-- Modal content for equipment 6-->
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">×</button>
										  <h4 class="modal-title"><span style="color: #991b1e;">Epson</span> S5</h4>
										</div>
										<div class="modal-body">
											<a target="_blank" href="images/Machines/robots/Epson_Robots.JPG">
												<img src="images/Machines/robots/Epson_Robots.JPG" alt="Epson Robots S5" style="width:200px; float: right; margin: 0 0 15px 15px;">
											</a>
											<p style="font-size:15px ">
													EPSON S5-Series robots provide superior performance
													along with industry leading PC based controls. They are
													high speed, mid range 6 axis robots with a small
													footprint and advanced flexibility for even the most
													demanding applications.<br>
												<a href="references/Machines/EPSON_S5_6-Axis_Robots (RevA).pdf" >Read More</a>
											</p>
										</div>
										<div class="modal-footer">
										  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									  </div>
									</div>
								</div>
							</div>
						</div>
						<!-- equipment 7: Epson Robots C3 - done -->
						<div class="col-sm-6">
							<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 210px !important">
								<center>
									<a>
										<img src="images/Machines/robots/Epson_Robots.JPG" class="img-responsive" id="myBtn7" alt="Epson Robots C3" width="200" height="180">
									</a>
									<!--name of the equipment 7-->
									<h5><span style="color: #991b1e;">Epson</span> C3</h5>
								</center>

								<!-- Modal for equipment 7 -->
								  <div class="modal fade" id="myModal7" role="dialog">
									<div class="modal-dialog">

									  <!-- Modal content for equipment 7-->
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">×</button>
										  <h4 class="modal-title"><span style="color: #991b1e;">Epson</span> C3</h4>
										</div>
										<div class="modal-body">
											<a target="_blank" href="images/Machines/robots/Epson_Robots.JPG">
												<img src="images/Machines/robots/Epson_Robots.JPG" alt="Epson Robots C3" style="width:200px; float: right; margin: 0 0 15px 15px;">
											</a>
											<p style="font-size:15px ">
													EPSON C3 robots lead the industry with best in class cycle time, precision and
													motion range. They are high speed, compact 6 axis robots that provide superior
													performance for even the most demanding and complex applications.
												<a href="references/Machines/EPSON_C3_6-Axis_Robots (RevD).pdf" >Read More</a>
											</p>
											<br>
										</div>
										<div class="modal-footer">
										  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									  </div>
									</div>
								</div>
							</div>
						</div>
						<!-- equipment 8: Epson Robots G3 - done -->
						<div class="col-sm-6">
							<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 210px !important">
								<center>
									<a>
										<img src="images/Machines/robots/Epson_Robots.JPG" class="img-responsive" id="myBtn8" alt="Epson Robots G3" width="200" height="180">
									</a>
									<!--name of the equipment 8-->
									<h5><span style="color: #991b1e;">Epson</span> G3</h5>
								</center>

								<!-- Modal for equipment 8 -->
								  <div class="modal fade" id="myModal8" role="dialog">
									<div class="modal-dialog">

									  <!-- Modal content for equipment 8-->
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">×</button>
										  <h4 class="modal-title"><span style="color: #991b1e;">Epson</span> G3</h4>
										</div>
										<div class="modal-body">
											<a target="_blank" href="images/Machines/robots/Epson_Robots.JPG">
												<img src="images/Machines/robots/Epson_Robots.JPG" alt="Epson Robots G3" style="width:200px; float: right; margin: 0 0 15px 15px;">
											</a>
											<p style="font-size:15px ">
												EPSON G-Series robots feature Max-R, a new high rigidity arm design that achieves ultra-high speed, ultra-high
												precision and low vibration. This puts EPSON G-Series robots in the top of their class. With speeds and payload
												improvements of up to 20% vs.
												<a href="references/Machines/EPSON_G-Series_SCARA_Robots(RevE).pdf" >Read More</a>
											</p>

										</div>
										<div class="modal-footer">
										  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>							
			</div>
				<!--End of Robot Section-->
			<!---------------------------------------->	
				<!-- 3D Printers section - DONE-->
					<div class="col-sm-12">
						<div id="3D_printers">    
							<div class="well" style="overflow: auto;"> 
								<center><h2>3D Printers</h2></center><br>
								<!-- equipment 9: EOS M290 DMLS 3D Printer - done-->
								<div class="col-sm-4">
									<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 200px !important">
										<center>
											<a>
												<img src="images/Machines/3D_Printers/EOS_M290_DMLS_3D_Printer.png" class="img-responsive" id="myBtn9" alt="EOS M290 DMLS 3D Printer" width="200" height="180">
											</a>
											<!--name of the equipment 9-->
											<h5> <span style="color: #991b1e;"> EOS </span> M290 DMLS 3D Printer</h5>
										</center>

										<!-- Modal for equipment 9 -->
										  <div class="modal fade" id="myModal9" role="dialog">
											<div class="modal-dialog">

											  <!-- Modal content for equipment 9-->
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">×</button>
													<h4 class="modal-title"><span style="color: #991b1e;"> EOS </span>M290 DMLS 3D Printer</h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="images/Machines/3D_Printers/EOS_M290_DMLS_3D_Printer.png">
														<img src="images/Machines/3D_Printers/EOS_M290_DMLS_3D_Printer.png" alt="EOS M290 DMLS 3D Printer" style="width:200px; float: right; margin: 0 0 15px 15px;">
													</a>
													<p style="font-size:15px ">
														The Benchmark for the Additive Manufacturing of High-Quality<br>
														Metal Parts - with Enhanced Quality Management Features
														<a href="references/Machines/EOS_M290_DMLS_3D_Printer.pdf" target="EOS M290 DMLS 3D Printer">Read More</a> 
														<br>
														<br>
														<br>
													</p>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
								<!-- equipment 10: Stratasys uPrint SE Plus FDM 3D Printer - done -->
								<div class="col-sm-4">
									<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 200px !important">
										<center>
											<a>
												<img src="images/Machines/3D_Printers/Stratasys_uprint.JPG" class="img-responsive" id="myBtn10" alt="Stratasys uPrint SE Plus FDM 3D Printer" width="200" height="180">
											</a>
											<!--name of the equipment 10-->
											<h5><span style="color: #991b1e;">Stratasys</span> uPrint SE Plus FDM 3D Printer</h5>
										</center>

										<!-- Modal for equipment 2 -->
										  <div class="modal fade" id="myModal10" role="dialog">
											<div class="modal-dialog">

											  <!-- Modal content for equipment 10-->
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">×</button>
												  <h4 class="modal-title"><span style="color: #991b1e;">Stratasys</span> uPrint SE Plus FDM 3D Printer</h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="images/Machines/3D_Printers/Stratasys_uprint.JPG">
														<img src="images/Machines/3D_Printers/Stratasys_uprint.JPG" alt="Stratasys uPrint SE Plus FDM 3D Printer" style="width:200px; float: right; margin: 0 0 15px 15px;">
													</a>
													<p style="font-size:15px ">
														The IRB 120 robot is the latest addition to ABB’s new
														fourth-generation of robotic technology and ABB’s smallest
														robot ever produced. Ideal for material handling and
														assembly applications, the new IRB 120 robot provides
														an agile, compact and lightweight solution with superior
														control and path accuracy.
														<a href="references/Machines/PSS_FDM_uPrintSE.pdf" target="Stratasys uPrint SE Plus FDM 3D Printer" >Read More</a>
													</p>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
								<!-- equipment 11: 3DSystems Viper Si2 SLA 3D Printer - done-->
								<div class="col-sm-4">
									<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 200px !important">
										<center>
											<a>
												<img src="images/Machines/3D_Printers/3D_Systems_Viper.JPG" class="img-responsive" id="myBtn11" alt="3DSystems Viper Si2 SLA 3D Printer" width="200" height="180">
											</a>
											<!--name of the equipment 11-->
											<h5><span style="color: #991b1e;">3D Systems</span> Viper Si2 SLA 3D Printer</h5>
										</center>

										<!-- Modal for equipment 11 -->
										  <div class="modal fade" id="myModal11" role="dialog">
											<div class="modal-dialog">

											  <!-- Modal content for equipment 11-->
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">×</button>
												  <h4 class="modal-title"><span style="color: #991b1e;">3D Systems</span> Viper Si2 SLA 3D Printer </h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="images/Machines/3D_Printers/3D_Systems_Viper.JPG">
														<img src="images/Machines/3D_Printers/3D_Systems_Viper.JPG" alt="3DSystems Viper Si2 SLA 3D Printer" style="width:200px; float: right; margin: 0 0 15px 15px;">
													</a>
													<p style="font-size:15px ">
														Baxter is a proven solution for a wide range of tasks,<br>
														from packing and kitting to line loading
														and material handling. 
														<a href="references/Machines/3DSystems_Viper.pdf" target="3DSystems Viper Si2 SLA 3D Printer" >Read More</a>
														<br>
														<br>
														<br>
														<br>
													</p>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
								<!-- equipment 12: Envisiontec_Ultra - done -->
								<div class="col-sm-6">
									<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 210px !important">
										<center>
											<a>
												<img src="images/Machines/3D_Printers/Envisiontec_Ultra.JPG" class="img-responsive" id="myBtn12" alt="Envisiontec_Ultra" width="200" height="180">
											</a>
											<!--name of the equipment 12-->
											<h5><span style="color: #991b1e;">Envisiontec</span> Ultra</h5>
										</center>

										<!-- Modal for equipment 12 -->
										  <div class="modal fade" id="myModal12" role="dialog">
											<div class="modal-dialog">

											  <!-- Modal content for equipment 12-->
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">×</button>
												  <h4 class="modal-title"><span style="color: #991b1e;">Envisiontec</span> Ultra</h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="images/Machines/3D_Printers/Envisiontec_Ultra2.png">
														<img src="images/Machines/3D_Printers/Envisiontec_Ultra.JPG" alt="Universal Robots UR5" style="width:200px; float: right; margin: 0 0 15px 15px;">
													</a>
													<p style="font-size:15px ">
														EnvisionTEC’s ULTRA 3SP Series 3D printers use ground-breaking 3SP (Scan, Spin and Selectively Photocure) technology to quickly 3D print highly accurate parts from STL files regardless of the geometric complexity.
														<a href="references/Machines/Envisiontec_Ultra.pdf" target="Universal Robots UR5" >Read More</a>
														<br>
														<br>
														<br>
													</p>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
								<!-- equipment 13: MakerBot Replicator 2X FDM 3D printer - done -->
								<div class="col-sm-6">
									<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 210px !important">
										<center>
											<a>
												<img src="images/Machines/3D_Printers/MakerBot.png" class="img-responsive" id="myBtn13" alt="MakerBot Replicator 2X FDM 3D printer" width="200" height="180">
											</a>
											<!--name of the equipment 13-->
											<h5><span style="color: #991b1e;">MakerBot</span> Replicator 2X FDM 3D printer</h5>
										</center>

										<!-- Modal for equipment 13 -->
										  <div class="modal fade" id="myModal13" role="dialog">
											<div class="modal-dialog">

											  <!-- Modal content for equipment 13-->
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">×</button>
												  <h4 class="modal-title"><span style="color: #991b1e;">MakerBot</span>Replicator 2X FDM 3D printer</h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="images/Machines/3D_Printers/MakerBot.png">
														<img src="images/Machines/3D_Printers/MakerBot.png" alt="MakerBot Replicator 2X FDM 3D printer" style="width:200px; float: right; margin: 0 0 15px 15px;">
													</a>
													<p style="font-size:15px ">
														The MakerBot Replicator 2X Experimental 3D Printeris for 3D printing professionals who want to push the boundaries. It's an advanced desktop 3D printer with dual extrusion that is optimized for printing with MakerBot ABS and Dissolvable Filament. You can create complex designs with intricate or interior supports using dissolvable filament.
														<a href="references/Machines/MakerBot_Replicator_2x.pdf" target="MakerBot Replicator 2X FDM 3D printer" >Read More</a>
													</p>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				<!--End of 3D Printers section-->
			<!---------------------------------------->	
				<!-- CNC Machines section - DONE -->
					<div class="col-sm-12">
						<div id="CNC_Machines">    
							<div class="well" style="overflow: auto;"> 
								<center><h2>CNC Machines</h2></center><br>
								<!-- equipment 14: Haas DT-1 CNC Vertical Machining Center - done -->
								<div class="col-sm-4">
									<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 265px !important">
										<center>
											<a>
												<img src="images/Machines/CNC_Machines/Haas_DT-1-2.JPG" class="img-responsive" id="myBtn14" alt="Haas DT-1 CNC Vertical Machining Center" width="200" height="180">
											</a>
											<!--name of the equipment 14-->
											<h5> <span style="color: #991b1e;"> Haas </span> DT-1 CNC Vertical Machining center</h5>
										</center>

										<!-- Modal for equipment 14 -->
										  <div class="modal fade" id="myModal14" role="dialog">
											<div class="modal-dialog">

											  <!-- Modal content for equipment 14-->
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">×</button>
													<h4 class="modal-title"><span style="color: #991b1e;"> Haas </span> DT-1 CNC Vertical Machining Center</h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="images/Machines/CNC_Machines/Haas_DT-1.png">
														<img src="images/Machines/CNC_Machines/Haas_DT-1-2.JPG" alt="EOS M290 DMLS 3D Printer" style="width:200px; float: right; margin: 0 0 15px 15px;">
													</a>
													<p style="font-size:15px ">
														The DT-1 is a compact, high-speed drill and tap machine with full milling
														capabilities. The machine has a 20" x 16" x 15.5" (xyz) work cube and a
														26" x 15" T-slot table. A powerful BT30 taper inline direct-drive spindle
														provides 15,000 rpm, and allows rigid tapping at speeds to 5000 rpm.
														A high-speed, 20-pocket tool changer swaps tools quickly, while<br>
														2400 ipm rapids and high accelerations combine to shorten cycle
														times and reduce non-cutting time.
														<a href="references/Machines/DS_DT1_US.pdf" target="Haas DT-1 CNC Vertical Machining Center">Read More</a> 
													</p>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
								<!-- equipment 15: Stratasys uPrint SE Plus FDM 3D Printer - done -->
								<div class="col-sm-4">
									<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 265px !important">
										<center>
											<a>
												<img src="images/Machines/CNC_Machines/DS_TLseries.png" class="img-responsive" id="myBtn15" alt="Haas TL-1 CNC Lathe" width="200" height="180">
											</a>
											<!--name of the equipment 15-->
											<h5><span style="color: #991b1e;">Haas</span> TL-1 CNC Lathe</h5>
										</center>

										<!-- Modal for equipment 15 -->
										  <div class="modal fade" id="myModal15" role="dialog">
											<div class="modal-dialog">

											  <!-- Modal content for equipment 15-->
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">×</button>
												  <h4 class="modal-title"><span style="color: #991b1e;">Haas</span> TL-1 CNC Lathe</h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="images/Machines/CNC_Machines/DS_TLseries.png">
														<img src="images/Machines/CNC_Machines/DS_TLseries.png" alt="Haas TL-1 CNC Lathe" style="width:200px; float: right; margin: 0 0 15px 15px;">
													</a>
													<p style="font-size:15px ">
														Haas Toolroom Lathes are affordable, easy to use, and offer the
														precision control of the Haas CNC system. They are very easy
														to learn and operate – even without knowing G-code. And with
														the Haas Intuitive Programming System, manual machinists will
														transition quickly and easily into full CNC – and be cutting parts
														in minutes. 
														<a href="references/Machines/DS_TLseries_US.pdf" target="Haas TL-1 CNC Lathe" >Read More</a>
													</p>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
								<!-- equipment 16: Universal Laser System PLS 4.75 Laser Cutter - done -->
								<div class="col-sm-4">
									<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 265px !important">
										<center>
											<a>
												<img src="images/Machines/CNC_Machines/Universal_Laser_Systems.JPG" class="img-responsive" id="myBtn16" alt="Universal Laser System PLS 4.75 Laser Cutter" width="200" height="180">
											</a>
											<!--name of the equipment 16-->
											<h5><span style="color: #991b1e;">Universal Laser System</span> PLS 4.75 Laser Cutter</h5>
										</center>

										<!-- Modal for equipment 16 -->
										  <div class="modal fade" id="myModal16" role="dialog">
											<div class="modal-dialog">

											  <!-- Modal content for equipment 16-->
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">×</button>
												  <h4 class="modal-title"><span style="color: #991b1e;">Universal Laser System</span> PLS 4.75 Laser Cutter </h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="images/Machines/CNC_Machines/Universal_Laser_Systems.JPG">
														<img src="images/Machines/CNC_Machines/Universal_Laser_Systems.JPG" alt="Universal Laser System PLS 4.75 Laser Cutter" style="width:200px; float: right; margin: 0 0 15px 15px;">
													</a>
													<p style="font-size:15px ">
															The PLS4.75, PLS6.75 and PLS6.150D are engineered
															for significant gains in throughput. We suggest the PLS
															platform series of laser systems for customers seeking to
															expand a business or conquer challenging applications. 
														<a href="references/Machines/Universal_Laser_System_PLS_4.75.pdf" target="Universal Laser System PLS 4.75 Laser Cutter" >Read More</a>
														<br>
														<br>
														<br>
													</p>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<!--End of CNC Machines section-->
			<!---------------------------------------->	
				<!-- Molding/Forming section - DONE -->
					<div class="col-sm-12">
						<div id="Molding_Forming">    
							<div class="well" style="overflow: auto;"> 
								<center><h2>Molding/Forming</h2></center><br>
								<!-- equipment 17: Babyplast 6/10P Micro Injection Molding Machine - done-->
								<div class="col-sm-12">
									<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 210px !important">
										<center>
											<a>
												<img src="images/Machines/Molding_Forming/Babyplast610P.JPG" class="img-responsive" id="myBtn17" alt="Babyplast 6/10P Micro Injection Molding Machine" width="200" height="180">
											</a>
											<!--name of the equipment 17-->
											<h5> <span style="color: #991b1e;"> Babyplast </span> 6/10P Micro Injection Molding Machine</h5>
										</center>

										<!-- Modal for equipment 17 -->
										  <div class="modal fade" id="myModal17" role="dialog">
											<div class="modal-dialog">

											  <!-- Modal content for equipment 17-->
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">×</button>
													<h4 class="modal-title"><span style="color: #991b1e;"> Babyplast </span> 6/10P Micro Injection Molding Machine</h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="images/Machines/Molding_Forming/Babyplast610P.JPG">
														<img src="images/Machines/Molding_Forming/Babyplast610P.JPG" alt="Babyplast 6/10P Micro Injection Molding Machine" style="width:200px; float: right; margin: 0 0 15px 15px;">
													</a>
													<p style="font-size:15px ">
														Babyplast 6/10P is one of the smallest, fully hydraulic, injection moulding machines.
														Thanks to the unique concept of the machine platens which act as mould bolsters, the cost
														and dimensions of the moulds are reduced considerably
														<a href="references/Machines/Babyplast610P.pdf" target="Babyplast 6/10P Micro Injection Molding Machine">Read More</a> 
														<br>
														<br>
														<br>
													</p>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<!--End of Molding/Forming section-->
			<!---------------------------------------->
				<!-- General Lab Setup section - description required -->
					<div class="col-sm-12">
						<div id="General_Lab_Setup">    
							<div class="well" style="overflow: auto;"> 
								<center><h2>General Lab Setup</h2></center><br>
								<!-- equipment 18: Custom 3D Printers - description required -->
								<div class="col-sm-6">
									<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 210px !important">
										<center>
											<a>
												<img src="images/Machines/General_Lab_Setup/Custom_3Dprinters.JPG" class="img-responsive" id="myBtn18" alt="Custom 3D Printers" width="200" height="180">
											</a>
											<!--name of the equipment 18-->
											<h5> <span style="color: #991b1e;"></span> Custom 3D Printers</h5>
										</center>

										<!-- Modal for equipment 18 -->
										  <div class="modal fade" id="myModal18" role="dialog">
											<div class="modal-dialog">

											  <!-- Modal content for equipment 18-->
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">×</button>
													<h4 class="modal-title"><span style="color: #991b1e;"></span> Custom 3D Printers</h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="images/Machines/General_Lab_Setup/Custom_3Dprinters.JPG">
														<img src="images/Machines/General_Lab_Setup/Custom_3Dprinters.JPG" alt="Custom 3D Printers" style="width:200px; float: right; margin: 0 0 15px 15px;">
													</a>
													<p style="font-size:15px ">
														description required + PDF
														<a href="references/Machines/EOS_M290_DMLS_3D_Printer.pdf" target="Custom 3D Printers">Read More</a> 
														<br>
														<br>
														<br>
														<br>
														<br>
														<br>
														<br>
													</p>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
								<!-- equipment 19: Lab Floor - description required -->
								<div class="col-sm-6">
									<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 210px !important">
										<center>
											<a>
												<img src="images/Machines/General_Lab_Setup/Lab_floor.JPG" class="img-responsive" id="myBtn19" alt="Lab Floor" width="200" height="180">
											</a>
											<!--name of the equipment 19-->
											<h5> <span style="color: #991b1e;"></span>Lab Floor</h5>
										</center>

										<!-- Modal for equipment 19 -->
										  <div class="modal fade" id="myModal19" role="dialog">
											<div class="modal-dialog">

											  <!-- Modal content for equipment 19-->
											  <div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">×</button>
													<h4 class="modal-title"><span style="color: #991b1e;"></span>Lab Floor</h4>
												</div>
												<div class="modal-body">
													<a target="_blank" href="images/Machines/General_Lab_Setup/Lab_floor.JPG">
														<img src="images/Machines/General_Lab_Setup/Lab_floor.JPG" alt="Lab Floor" style="width:200px; float: right; margin: 0 0 15px 15px;">
													</a>
													<p style="font-size:15px ">
														description required + PDF
														<a href="references/Machines/EOS_M290_DMLS_3D_Printer.pdf" target="Lab Floor">Read More</a> 
														<br>
														<br>
														<br>
														<br>
														<br>
														<br>
														<br>
													</p>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<!--End of General Lab Setup section-->
			<!---------------------------------------->
		</div>
	</div>






