<div class= "container">
<!---------------------------------------------------------------------------------->
	<!-- Faculty -->
		<div class="well" style="overflow: auto;">
			<div class="row">	
				<h2 style="margin-left:25px;">Faculty</h2>
			<br>
			<!-- person 1-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px; !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/GuptaSK.jpg" class="img-responsive" id="myBtn1" alt="Dr. S.K. Gupta" style="width:95%; !important;">
						</a>
						<!--name of person 1-->
						<h5>Dr. S.K. Gupta</h5>
					</center>

					<!-- Modal for person 1 -->
					  <div class="modal fade" id="myModal1" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 1-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. S.K. Gupta</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/GuptaSK.jpg">
									<img src="images/people/faculty/GuptaSK.jpg" alt="reaserch1" alt="Dr. S.K. Gupta" style="width:180px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Smith International Professor, Aerospace and Mechanical Engineering Department<br>
									Director, Center for Advanced Manufacturing
									Viterbi School of Engineering
									University of Southern California
									Los Angeles, California 90089-1453<br>
									<br>Email: skgupta@usc.edu <br>
									Phone: (213) 740-0491<br>
									Website: <a href="http://ruk.usc.edu/bio/gupta/" target="Dr. S.K. Gupta">ruk.usc.edu/bio/gupta</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<!--End of person 1-->
			<!--------------->
			<!-- person 2-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px; !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/jernej-sequoia-2013.jpg" class="img-responsive" id="myBtn2" alt="Dr. Jernej Barbic" style="width:95%; !important;">
						</a>
						<!--name of person 1-->
						<h5>Dr. Jernej Barbic</h5>
					</center>

					<!-- Modal for person 1 -->
					  <div class="modal fade" id="myModal2" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 1-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Jernej Barbic</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/jernej-sequoia-2013.jpg">
									<img src="images/people/faculty/jernej-sequoia-2013.jpg" alt="person 2" alt="Dr. Jernej Barbic" style="width:150px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Associate professor of computer science,
									University of Southern California, Los Angeles, USA.<br>
									Research interests: computer graphics, animation, interactive physics, finite element method, model reduction, deformable models, haptics, sound.<br>
									<br>Email: jnb@usc.edu <br>
									Phone: <br>
									Website: <a href="http://www-bcf.usc.edu/~jbarbic/" target="Dr. Jernej Barbic">www-bcf.usc.edu/~jbarbic</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<!--End of person 2-->
			<!--------------->
			<!-- person 3-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Yong_Chen.png" class="img-responsive" id="myBtn3" alt="Dr. Yong Chen" style="width:90%; !important;">
						</a>
						<!--name of person 3-->
						<h5>Dr. Yong Chen</h5>
					</center>

					<!-- Modal for person 3-->
					  <div class="modal fade" id="myModal3" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 3-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Yong Chen</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Yong_Chen.png">
									<img src="images/people/faculty/Yong_Chen.png" alt="person 3" alt="Dr. Yong Chen" style="width:150px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Associate Professor<br>
									Epstein Department of Industrial and Systems Engineering
									Department of Aerospace and Mechanical Engineering (by courtesy)
									<br>
									Viterbi School of Engineering
									University of Southern California <br>
									<br>Email: yongchen@usc.edu<br>
									Phone: (213) 740-7829 <br>
									Website: <a href="http://www-bcf.usc.edu/~yongchen/" target="Dr. Yong Chen">www-bcf.usc.edu/~yongchen</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 3-->
			<!--------------->
			<!-- person 4-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/JOHN.png" class="img-responsive" id="myBtn4" alt="Dr. John Damoulakis" style="width:70%; !important;">
						</a>
						<!--name of person 4-->
						<h5>Dr. John Damoulakis </h5>
					</center>

					<!-- Modal for person 4-->
					  <div class="modal fade" id="myModal4" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 4-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr.  John Damoulakis</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/JOHN.png">
									<img src="images/people/faculty/JOHN.png" alt="person 3" alt="Dr.  John Damoulakis" style="width:150px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									John N. Damoulakis has more than 30 years’ experience in research concept definition,<br>
									advanced technology development, technology transition to operations,<br>
									and technology management.<br>
									<br>Email:<br>
									Phone: <br>
									Website: <a href="https://www.isi.edu/about/bio/john_n_damoulakis/" target="Dr. John Damoulakis">www.isi.edu/about/bio/john_n_damoulakis/</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 4-->
			<!--------------->
			<!-- person 5-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Qiang.png" class="img-responsive" id="myBtn5" alt="Dr. Qiang Huang" style="width:75%; !important;">
						</a>
						<!--name of person 5-->
						<h5>Dr. Qiang Huang </h5>
					</center>

					<!-- Modal for person 5-->
					  <div class="modal fade" id="myModal5" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 5-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr.  Qiang Huang</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Qiang.png">
									<img src="images/people/faculty/Qiang.png" alt="person 5" alt="Dr.  Qiang Huang" style="width:150px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Associate Professor
									Epstein Department of Industrial and Systems Engineering
									University of Southern California
									<br>

									Member of Editorial Board and Guest Editor, Journal of Quality Technology
									<br>
									Associate Editor, IISE Transactions on Design and Manufacturing<br>
									<br>Email: qiang.huang@usc.edu<br>
									Phone: 213-740-2433<br>
									Website: <a href="http://www-bcf.usc.edu/~qianghua/Qiang_Huang/Welcome.html" target="Dr. Qiang Huang">www-bcf.usc.edu/~qianghua/Qiang_Huang/Welcome.html</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 5-->	
			<!--------------->
			<!-- person 6-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important ; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Yan_Jin .png" class="img-responsive" id="myBtn6" alt="Dr. Yan Jin" style="width:90%; !important;">
						</a>
						<!--name of person 6-->
						<h5>Dr. Yan Jin </h5>
					</center>

					<!-- Modal for person 6-->
					  <div class="modal fade" id="myModal6" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 6-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Yan Jin</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Yan_Jin .png">
									<img src="images/people/faculty/Yan_Jin .png" alt="person 6" alt="Dr. Yan Jin" style="width:150px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Professor 
									Department of Aerospace and Mechanical Engineering<br> 
									University of Southern California <br>
									<br>Email: yjin@usc.edu <br>
									Phone: (213)740-9574<br>
									Website: <a href="http://www-bcf.usc.edu/~yjin/" target="Dr. Yan Jin">www-bcf.usc.edu/~yjin/</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 6-->	
			<!--------------->
			<!-- person 7-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Mike_Kassner.png" class="img-responsive" id="myBtn7" alt="Dr. Mike Kassner" style="width:70%; !important;">
						</a>
						<!--name of person 7-->
						<h5>Dr. Mike Kassner</h5>
					</center>

					<!-- Modal for person 6-->
					  <div class="modal fade" id="myModal7" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 7-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Mike Kassner</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Mike_Kassner.png">
									<img src="images/people/faculty/Mike_Kassner.png" alt="person 7" alt="Dr. Mike Kassner" style="width:150px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									2009-Present: Choong Hoon Cho Chair and Professor, Department of Aerospace and Mechanical Engineering and Professor of Materials Science<br>
									2003-2009: Professor and Chair, Department of Aerospace and Mechanical Engineering and Professor of Materials Science <br>
									<br>Email:kassner@usc.edu<br>
									Phone: (213) 740-0943<br>
									Website: <a href="http://ame-www.usc.edu/bio/kassner" target="Dr. Mike Kassners">ame-www.usc.edu/bio/kassner</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 7-->	
			<!--------------->
			<!-- person 8-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Behrokh_Khoshnevis.png" class="img-responsive" id="myBtn8" alt="Dr. Behrokh Khoshnevis" style="width:55%; !important;">
						</a>
						<!--name of person 8-->
						<h5>Dr. Behrokh Khoshnevis</h5>
					</center>

					<!-- Modal for person 8-->
					  <div class="modal fade" id="myModal8" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 8-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Behrokh Khoshnevis</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Behrokh_Khoshnevis.png">
									<img src="images/people/faculty/Behrokh_Khoshnevis.png" alt="person 8" alt="Dr. Behrokh Khoshnevis" style="width:120px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Behrokh Khoshnevis is a Dean’s Professor of Industrial and Systems Engineering, Aerospace and Mechanical Engineering, Astronautics Engineering, Biomedical Engineering and Civil and Environmental Engineering and is the Director of the Center for Rapid Automated Fabrication Technologies (CRAFT)
									<br>
									<br>Email: Khoshnev@usc.edu<br>
									Phone: (213) 740-4889<br>
									Website: <a href="http://www.bkhoshnevis.com/" target="Dr. Behrokh Khoshnevis">www.bkhoshnevis.com</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 8-->
			<!--------------->
			<!-- person 9-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Tony_Levi.png" class="img-responsive" id="myBtn9" alt="Dr. Tony Levi" style="width:73%; !important;">
						</a>
						<!--name of person 9-->
						<h5>Dr. Tony Levi</h5>
					</center>

					<!-- Modal for person 9-->
					  <div class="modal fade" id="myModal9" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 9-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Tony Levi</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Tony_Levi.png">
									<img src="images/people/faculty/Tony_Levi.png" alt="person 9" alt="Dr. Tony Levi" style="width:170px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Tony Levi joined the USC faculty in mid-1993 after working for 10 years at AT&T Bell Laboratories, Murray Hill, New Jersey. He invented hot electron spectroscopy,<br>
									discovered ballistic electron transport in heterostructure bipolar transistors,<br>
									demonstrated room temperature operation of unipolar transistors with ballistic electron transport,<br>
									created the first microdisk laser, and carried out work in parallel fiber optic interconnect components in computer and switching systems.<br>

									Email: <br>
									Phone: <br>
									Website: <a href="http://alevi.usc.edu/Html/Levi.html" target="Dr. Tony Levi">alevi.usc.edu/Html/Levi.html</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 9-->
			<!--------------->
			<!-- person 10-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Azad_Madni.png" class="img-responsive" id="myBtn10" alt="Dr. Azad Madni" style="width:80%; !important;">
						</a>
						<!--name of person 10-->
						<h5>Dr. Azad Madni</h5>
					</center>

					<!-- Modal for person 10-->
					  <div class="modal fade" id="myModal10" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 10-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Azad Madni</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Azad_Madni.png">
									<img src="images/people/faculty/Azad_Madni.png" alt="person 10" alt="Dr. Azad Madni" style="width:170px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Technical Director, Systems Architecting and Engineering Program<br>
									Professor, Astronautical Engineeering Department<br>
									The founder and chief executive officer of Intelligent Systems Technology, Inc., has joined USC’s Daniel J. Epstein Department of Industrial and Systems Engineering as a professor of systems architecting and industrial and systems engineering.<br>

									Email: azad.madni@usc.edu<br>
									Phone: (213) 740-9211 <br>
									Website: <a href="http://viterbi.usc.edu/sae/faculty/core-faculty/azad-m-madni.html
									" target="Dr. Azad Madni">viterbi.usc.edu/sae/faculty/core-faculty/azad-m-madni.html
								</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 10-->
			<!--------------->
			<!-- person 11-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Steven_Nutt.png" class="img-responsive" id="myBtn11" alt="Dr. Steven Nutt" style="width:90%; !important;">
						</a>
						<!--name of person 11-->
						<h5>Dr. Steven Nutt</h5>
					</center>

					<!-- Modal for person 11-->
					  <div class="modal fade" id="myModal11" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 11-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Steven Nutt</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Steven_Nutt.png">
									<img src="images/people/faculty/Steven_Nutt.png" alt="person 11" alt="Dr. Steven Nutt" style="width:180px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Dr. Nutt joined the faculty at USC in 1994 as Professor of Materials Science. He founded the M.C.
									Gill Composites Center in 1996 and has served as Director of the Center to the present date.<br>
									Within the Viterbi School of Engineering, he has served as Sr Assoc Dean for Research (2005-6) and Chair of the Mork Family Department of Chemical Engineering and Materials Science (2011-14).<br> He also serves as co-Director of CEMMA, the Center for Electron Microscopy and MicroAnalysis (1994-present). <br>
									<br>
									<!-- contact information --->
									Email: nutt@usc.edu<br>
									Phone:  (213) 740-1111 <br>
									Website: <a href="http://composites.usc.edu/people/faculty439616/steven-nutt439964.htm" target="Dr. Steven Nutt">composites.usc.edu/people/faculty439616/steven-nutt439964.html</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 11-->
			<!--------------->
			<!-- person 12-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Pérez-Arancibia.png" class="img-responsive" id="myBtn12" alt="Dr. Néstor Pérez-Arancibia" style="width:90%; !important;">
						</a>
						<!--name of person 12-->
						<h5>Dr. Néstor Pérez-Arancibia</h5>
					</center>

					<!-- Modal for person 12-->
					  <div class="modal fade" id="myModal12" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 12-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Néstor Pérez-Arancibia</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Pérez-Arancibia.png">
									<img src="images/people/faculty/Pérez-Arancibia.png" alt="person 12" alt="Dr. Néstor Pérez-Arancibia" style="width:140px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Assistant Professor dept. of Aerospace and Mechanical Engineering Viterbi University of Southern California
									<br>
									<br>
									<!-- contact information --->
									Email: perezara@usc.edu<br>
									Phone:  (310) 384-0123  <br>
									Website: <a href="http://www.uscamsl.com/" target="Dr. Néstor Pérez-Arancibia">www.uscamsl.com</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 12-->
			<!--------------->
			<!-- person 13-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Paul_Ronney.png" class="img-responsive" id="myBtn13" alt="Dr. Paul Ronney" style="width:75%; !important;">
						</a>
						<!--name of person 13-->
						<h5>Dr. Paul Ronney</h5>
					</center>

					<!-- Modal for person 13-->
					  <div class="modal fade" id="myModal13" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 13-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Paul Ronney</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Paul_Ronney.png">
									<img src="images/people/faculty/Paul_Ronney.png" alt="person 13" alt="Dr. Paul Ronney" style="width:160px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Prof. Paul D. Ronney is a Professor in the Department of Aerospace and Mechanical Engineering at the University of Southern California in Los Angeles, CA.<br>
									Prof. Ronney received a Bachelor of Science degree in Mechanical Engineering from the University of California, Berkeley, a Master of Science degree in Aeronautics from the California Institute of Technology, and a Doctor of Science degree in Aeronautics and Astronautics from the Massachusetts Institute of Technology.
									<br>
									<br>
									<!-- contact information --->
									Email: ronney@usc.edu<br>
									Phone:  (213) 740-0490  <br>
									Website: <a href="http://ronney.usc.edu/" target="Dr. Paul Ronney">ronney.usc.edu</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 13-->
			<!--------------->
			<!-- person 14-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Michael_Orosz.png" class="img-responsive" id="myBtn14" alt="Dr. Michael Orosz" style="width:75%; !important;">
						</a>
						<!--name of person 14-->
						<h5>Dr. Michael Orosz</h5>
					</center>

					<!-- Modal for person 14-->
					  <div class="modal fade" id="myModal14" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 14-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Michael Orosz</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Michael_Orosz.png">
									<img src="images/people/faculty/Michael_Orosz.png" alt="person 14" alt="Dr. Michael Orosz" style="width:160px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Dr. Michael Orosz directs the Decision Systems Group at the University of Southern California’s Information Sciences Institute, is a Research Associate Professor in USC's Sonny Astani Department of Civil and Environmental Engineering and an investigator at the DHS-funded National Center for Risk and Economic Analysis of Terrorism Events (CREATE).
									<br>
									<br>
									<!-- contact information --->
									Email: mdorosz@isi.edu <br>
									Phone:   +1 (310) 448-8266 <br>
									Website: <a href="http://create.usc.edu/users/michael-orosz" target="Dr. Michael Orosz">www.create.usc.edu/users/michael-orosz</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 14-->
			<!--------------->
			<!-- person 15-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Wei-Min_Shen.png" class="img-responsive" id="myBtn15" alt="Dr. Wei-Min Shen" style="width:65%; !important;">
						</a>
						<!--name of person 15-->
						<h5>Dr. Wei-Min Shen</h5>
					</center>

					<!-- Modal for person 15-->
					  <div class="modal fade" id="myModal15" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 15-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Wei-Min Shen</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Wei-Min_Shen.png">
									<img src="images/people/faculty/Wei-Min_Shen.png" alt="person 15" alt="Dr. Wei-Min Shen" style="width:160px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Dr. Wei-Min (Weimin) Shen received his Ph.D. under Nobel Laureate Professor Herbert A. Simon and co-advisor Professor Jaime Carbonell from Carnegie Mellon University in 1989. He has over 30 years of research experience and his current research interests include self-reconfigurable and metamorphic systems, autonomous robots, Machine Learning, Artificial Intelligence, and Life Science. He has over 150 publications in these areas.
									<br>
									<br>
									<!-- contact information --->
									Email: shen@isi.edu<br>
									Phone:   (310) 448-8710 <br>
									Website: <a href="https://www.isi.edu/~shen/" target="Dr. Wei-Min Shen">www.isi.edu/~shen</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 15-->
			<!--------------->
			<div class="col-sm-4">
			</div>
			<!-- person 16-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/faculty/Qiming_Wang.png" class="img-responsive" id="myBtn16" alt="Dr. Qiming Wang" style="width:85%; !important;">
						</a>
						<!--name of person 16-->
						<h5>Dr. Qiming Wang</h5>
					</center>

					<!-- Modal for person 16-->
					  <div class="modal fade" id="myModal16" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 16-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Dr. Qiming Wang</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/faculty/Qiming_Wang.png">
									<img src="images/people/faculty/Qiming_Wang.png" alt="person 16" alt="Dr. Qiming Wang" style="width:130px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									Assistant Professor
									Civil and Environmental Engineering
									University of Southern California
									<br>
									<br>
									<!-- contact information --->
									Email: qimingw@usc.edu<br>
									Phone:   (213) 821-4715 <br>
									Website: <a href="http://www-bcf.usc.edu/~qimingw/Member.html" target="Dr. Qiming Wang">www-bcf.usc.edu/~qimingw/Member.html</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
</div>
			<!--End of person 15-->
		</div>
		</div>
	<!-- end of the Faculty section -->
<!---------------------------------------------------------------------------------->
	<!-- Research Staff -->
		<div class="well" style="overflow: auto;">
			<div class="row">	
				<h2 style="margin-left:25px;">Research Staff</h2>
			<br>
			<!-- person 17-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px; !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/research_staff/shah_brual - Brual Shah.jpg" class="img-responsive" id="myBtn17" alt=">Brual Shah" style="width:190%; !important;">
						</a>
						<!--name of person 17-->
						<h5>Brual Shah</h5>
					</center>

					<!-- Modal for person 17 -->
					  <div class="modal fade" id="myModal17" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 17-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Brual Shah</h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/research_staff/shah_brual - Brual Shah.jpg">
									<img src="images/people/research_staff/shah_brual - Brual Shah.jpg" alt="person17" alt="Brual Shah" style="width:200px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									<span style="color: #991b1e; font-weight: bold;">Title: </span>Postdoctoral Research Associate<br>
									<span style="color: #991b1e; font-weight: bold;">Research Area: </span>Motion Planning, Smart Manufacturing, Marine Robotics, and Unmanned Systems<br>
									<span style="color: #991b1e; font-weight: bold;">Current Projects: </span> Automated Robotic Finishing, and Autonomy for USVs<br>
									<br>
									Email: brual.shah@usc.edu<br>
									Phone: (213) 740-0491<br>
									Website: <a href="https://brual.info" target="Brual Shah">brual.info</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<!--End of person 1-->
			<!--------------->
			<!-- person 18-->
			<div class="col-sm-4">
				<div class="well" style="overflow: auto; height: 240px; !important; background-color: lightgray;">
					<center>
						<a>
							<img src="images/people/research_staff/Alec_Kanyuck.png" class="img-responsive" id="myBtn18" alt="Alec Kanyuck" style="width:80%; !important;">
						</a>
						<!--name of person 18-->
						<h5>Alec Kanyuck</h5>
					</center>

					<!-- Modal for person 1 -->
					  <div class="modal fade" id="myModal18" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person 18-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Alec Kanyuck </h4>
							</div>
							<div class="modal-body">
								<a target="_blank" href="images/people/research_staff/Alec_Kanyuck.png">
									<img src="images/people/research_staff/Alec_Kanyuck.png" alt="person 18" alt="Alec Kanyuck" style="width:160px; float: right; margin: 0 0 15px 15px;">
								</a>
								<p style="font-size:15px ">
									<span style="color: #991b1e; font-weight: bold;">Title: </span>Manager, Research Engineer<br>
									<span style="color: #991b1e; font-weight: bold;">Research Area: </span>Robotics and Automation, Additive Manufacturing, Computer Aided Design, Mechatronics, Embedded Systems, Sensor Fusion<br>
									<span style="color: #991b1e; font-weight: bold;">Current Projects: </span> Service Machine Operation: Metal 3D Printing [DMLS], Machining [CNC], Injection Molding, 
									Non-planar Additive Manufacturing using 6-axis Robotic Arm, 
									Operating Condition Detection using Machine Learning and Sensor Fusion
									<br>
									<br>
									Email: kanyuck@usc.edu<br>
									Phone: (213) 765-8051<br>
									Website: <a href="https://sites.google.com/view/aleckanyuck/" target="Alec Kanyuck">https://sites.google.com/view/aleckanyuck/</a> 
								</p>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<!--End of person 18-->
			<!--------------->
			</div>
		</div>
	<!-- end of the Research Staff -->
<!---------------------------------------------------------------------------------->
	
</div>