<div class= "container">
	<div class="row">
		<div class="col-sm-4">
		</div>
		<!-- equipment 1-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto;">
				<center>
		  			<a>
			  			<img src="images/GuptaSK.jpg" class="img-responsive" id="myBtn1" alt="Dr. S.K. Gupta" width="150" height="130">
		  			</a>
					<!--name of the Member1-->
			  		<h5>Dr. S.K. Gupta</h5>
	  			</center>
				
				<!-- Modal for Member1 -->
				  <div class="modal fade" id="myModal1" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for equipment 1-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">Dr. S.K. Gupta</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/GuptaSK.jpg">
								<img src="images/GuptaSK.jpg" alt="reaserch1" alt="Dr. S.K. Gupta" style="width:150px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								Smith International Professor, Aerospace and Mechanical Engineering Department<br>
								Director, Center for Advanced Manufacturing
								Viterbi School of Engineering
								University of Southern California
								Los Angeles, California 90089-1453<br>
								<br>Email: skgupta@usc.edu <br>
								Phone: (213) 740-0491<br>
								Website: <a href="http://ruk.usc.edu/bio/gupta/" target="Dr. S.K. Gupta">ruk.usc.edu/bio/gupta</a> 
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		
		<!--End-->
	</div>
</div>