<div class= "container">
	<div class="row">
		<h2>Faculty</h2>
		<br>
		<!-- person 1-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto; height: 240px !important">
				<center>
		  			<a>
			  			<img src="images/people/faculty/GuptaSK.jpg" class="img-responsive" id="myBtn1" alt="Dr. S.K. Gupta" style="width:95%; !important;">
		  			</a>
					<!--name of person 1-->
			  		<h5>Dr. S.K. Gupta</h5>
	  			</center>
				
				<!-- Modal for person 1 -->
				  <div class="modal fade" id="myModal1" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for person 1-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">Dr. S.K. Gupta</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/people/faculty/GuptaSK.jpg">
								<img src="images/people/faculty/GuptaSK.jpg" alt="reaserch1" alt="Dr. S.K. Gupta" style="width:180px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								Smith International Professor, Aerospace and Mechanical Engineering Department<br>
								Director, Center for Advanced Manufacturing
								Viterbi School of Engineering
								University of Southern California
								Los Angeles, California 90089-1453<br>
								<br>Email: skgupta@usc.edu <br>
								Phone: (213) 740-0491<br>
								Website: <a href="http://ruk.usc.edu/bio/gupta/" target="Dr. S.K. Gupta">ruk.usc.edu/bio/gupta</a> 
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--End of person 1-->
		<!--------------->
		<!-- person 2-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto; height: 240px !important">
				<center>
		  			<a>
			  			<img src="images/people/faculty/jernej-sequoia-2013.jpg" class="img-responsive" id="myBtn2" alt="Dr. Jernej Barbic" style="width:95%; !important;">
		  			</a>
					<!--name of person 1-->
			  		<h5>Dr. Jernej Barbic</h5>
	  			</center>
				
				<!-- Modal for person 1 -->
				  <div class="modal fade" id="myModal2" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for person 1-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">Dr. Jernej Barbic</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/people/faculty/jernej-sequoia-2013.jpg">
								<img src="images/people/faculty/jernej-sequoia-2013.jpg" alt="person 2" alt="Dr. Jernej Barbic" style="width:150px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								Associate professor of computer science,
								University of Southern California, Los Angeles, USA.<br>
								Research interests: computer graphics, animation, interactive physics, finite element method, model reduction, deformable models, haptics, sound.<br>
								<br>Email: jnb@usc.edu <br>
								Phone: <br>
								Website: <a href="http://www-bcf.usc.edu/~jbarbic/" target="Dr. Jernej Barbic">www-bcf.usc.edu/~jbarbic</a> 
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--End of person 2-->
		<!--------------->
		<!-- person 3-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto; height: 240px !important">
				<center>
		  			<a>
			  			<img src="images/people/faculty/Yong_Chen.png" class="img-responsive" id="myBtn3" alt="Dr. Yong Chen" style="width:90%; !important;">
		  			</a>
					<!--name of person 3-->
			  		<h5>Dr. Yong Chen</h5>
	  			</center>
				
				<!-- Modal for person 3-->
				  <div class="modal fade" id="myModal3" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for person 3-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">Dr. Yong Chen</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/people/faculty/Yong_Chen.png">
								<img src="images/people/faculty/Yong_Chen.png" alt="person 3" alt="Dr. Yong Chen" style="width:150px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								Associate Professor<br>
								Epstein Department of Industrial and Systems Engineering
								Department of Aerospace and Mechanical Engineering (by courtesy)
								<br>
								Viterbi School of Engineering
								University of Southern California <br>
								<br>Email: yongchen@usc.edu<br>
								Phone: (213) 740-7829 <br>
								Website: <a href="http://www-bcf.usc.edu/~yongchen/" target="Dr. Yong Chen">www-bcf.usc.edu/~yongchen</a> 
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--End of person 3-->
		<!--------------->
		<!-- person 4-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto; height: 240px !important">
				<center>
		  			<a>
			  			<img src="images/people/faculty/JOHN.png" class="img-responsive" id="myBtn4" alt="Dr. John Damoulakis" style="width:70%; !important;">
		  			</a>
					<!--name of person 4-->
			  		<h5>Dr. John Damoulakis </h5>
	  			</center>
				
				<!-- Modal for person 4-->
				  <div class="modal fade" id="myModal4" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for person 4-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">Dr.  John Damoulakis</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/people/faculty/JOHN.png">
								<img src="images/people/faculty/JOHN.png" alt="person 3" alt="Dr.  John Damoulakis" style="width:150px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								John N. Damoulakis has more than 30 years’ experience in research concept definition,<br>
								advanced technology development, technology transition to operations,<br>
								and technology management.<br>
								<br>Email:<br>
								Phone: <br>
								Website: <a href="https://www.isi.edu/about/bio/john_n_damoulakis/" target="Dr. John Damoulakis">www.isi.edu/about/bio/john_n_damoulakis/</a> 
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--End of person 4-->
		<!--------------->
		<!-- person 5-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto; height: 240px !important">
				<center>
		  			<a>
			  			<img src="images/people/faculty/Qiang.png" class="img-responsive" id="myBtn5" alt="Dr. Qiang Huang" style="width:75%; !important;">
		  			</a>
					<!--name of person 5-->
			  		<h5>Dr. Qiang Huang </h5>
	  			</center>
				
				<!-- Modal for person 5-->
				  <div class="modal fade" id="myModal5" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for person 5-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">Dr.  Qiang Huang</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/people/faculty/Qiang.png">
								<img src="images/people/faculty/Qiang.png" alt="person 5" alt="Dr.  Qiang Huang" style="width:150px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								Associate Professor
								Epstein Department of Industrial and Systems Engineering
								University of Southern California
								<br>

								Member of Editorial Board and Guest Editor, Journal of Quality Technology
								<br>
								Associate Editor, IISE Transactions on Design and Manufacturing<br>
								<br>Email: qiang.huang@usc.edu<br>
								Phone: 213-740-2433<br>
								Website: <a href="http://www-bcf.usc.edu/~qianghua/Qiang_Huang/Welcome.html" target="Dr. Qiang Huang">www-bcf.usc.edu/~qianghua/Qiang_Huang/Welcome.html</a> 
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--End of person 5-->	
		<!--------------->
		<!-- person 6-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto; height: 240px !important">
				<center>
		  			<a>
			  			<img src="images/people/faculty/Yan_Jin .png" class="img-responsive" id="myBtn6" alt="Dr. Yan Jin" style="width:90%; !important;">
		  			</a>
					<!--name of person 6-->
			  		<h5>Dr. Yan Jin </h5>
	  			</center>
				
				<!-- Modal for person 6-->
				  <div class="modal fade" id="myModal6" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for person 6-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">Dr. Yan Jin</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/people/faculty/Yan_Jin .png">
								<img src="images/people/faculty/Yan_Jin .png" alt="person 6" alt="Dr. Yan Jin" style="width:150px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								Professor 
								Department of Aerospace and Mechanical Engineering<br> 
								University of Southern California <br>
								<br>Email: yjin@usc.edu <br>
								Phone: (213)740-9574<br>
								Website: <a href="http://www-bcf.usc.edu/~yjin/" target="Dr. Yan Jin">www-bcf.usc.edu/~yjin/</a> 
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--End of person 6-->	
		<!--------------->
		<!-- person 7-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto; height: 240px !important">
				<center>
		  			<a>
			  			<img src="images/people/faculty/Mike_Kassner.png" class="img-responsive" id="myBtn7" alt="Dr. Mike Kassner" style="width:70%; !important;">
		  			</a>
					<!--name of person 7-->
			  		<h5>Dr. Mike Kassner</h5>
	  			</center>
				
				<!-- Modal for person 6-->
				  <div class="modal fade" id="myModal7" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for person 7-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">Dr. Mike Kassner</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/people/faculty/Mike_Kassner.png">
								<img src="images/people/faculty/Mike_Kassner.png" alt="person 7" alt="Dr. Mike Kassner" style="width:150px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								2009-Present: Choong Hoon Cho Chair and Professor, Department of Aerospace and Mechanical Engineering and Professor of Materials Science<br>
								2003-2009: Professor and Chair, Department of Aerospace and Mechanical Engineering and Professor of Materials Science <br>
								<br>Email:kassner@usc.edu<br>
								Phone: (213) 740-0943<br>
								Website: <a href="http://ame-www.usc.edu/bio/kassner" target="Dr. Mike Kassners">ame-www.usc.edu/bio/kassner</a> 
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--End of person 7-->	
		<!--------------->
		<!-- person 8-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto; height: 240px !important">
				<center>
		  			<a>
			  			<img src="images/people/faculty/Behrokh_Khoshnevis.png" class="img-responsive" id="myBtn8" alt="Dr. Behrokh Khoshnevis" style="width:55%; !important;">
		  			</a>
					<!--name of person 8-->
			  		<h5>Dr. Behrokh Khoshnevis</h5>
	  			</center>
				
				<!-- Modal for person 8-->
				  <div class="modal fade" id="myModal8" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for person 8-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">Dr. Behrokh Khoshnevis</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/people/faculty/Behrokh_Khoshnevis.png">
								<img src="images/people/faculty/Behrokh_Khoshnevis.png" alt="person 8" alt="Dr. Behrokh Khoshnevis" style="width:120px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								Behrokh Khoshnevis is a Dean’s Professor of Industrial and Systems Engineering, Aerospace and Mechanical Engineering, Astronautics Engineering, Biomedical Engineering and Civil and Environmental Engineering and is the Director of the Center for Rapid Automated Fabrication Technologies (CRAFT)
								<br>
								<br>Email: Khoshnev@usc.edu<br>
								Phone: (213) 740-4889<br>
								Website: <a href="http://www.bkhoshnevis.com/" target="Dr. Behrokh Khoshnevis">www.bkhoshnevis.com</a> 
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--End of person 8-->
		<!--------------->
		<!-- person 9-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto; height: 240px !important">
				<center>
		  			<a>
			  			<img src="images/people/faculty/Tony_Levi.png" class="img-responsive" id="myBtn9" alt="Dr. Tony Levi" style="width:73%; !important;">
		  			</a>
					<!--name of person 9-->
			  		<h5>Dr. Tony Levi</h5>
	  			</center>
				
				<!-- Modal for person 9-->
				  <div class="modal fade" id="myModal9" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for person 9-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">Dr. Tony Levi</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/people/faculty/Tony_Levi.png">
								<img src="images/people/faculty/Tony_Levi.png" alt="person 9" alt="Dr. Tony Levi" style="width:170px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								Tony Levi joined the USC faculty in mid-1993 after working for 10 years at AT&T Bell Laboratories, Murray Hill, New Jersey. He invented hot electron spectroscopy,<br>
								discovered ballistic electron transport in heterostructure bipolar transistors,<br>
								demonstrated room temperature operation of unipolar transistors with ballistic electron transport,<br>
								created the first microdisk laser, and carried out work in parallel fiber optic interconnect components in computer and switching systems.<br>
							
								Email: <br>
								Phone: <br>
								Website: <a href="http://alevi.usc.edu/Html/Levi.html" target="Dr. Tony Levi">alevi.usc.edu/Html/Levi.html</a> 
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--End of person 9-->
		<!--------------->
		<!-- person 10-->
		<div class="col-sm-4">
			<div class="well" style="overflow: auto; height: 240px !important">
				<center>
		  			<a>
			  			<img src="images/people/faculty/Azad_Madni.png" class="img-responsive" id="myBtn10" alt="Dr. Azad Madni" style="width:80%; !important;">
		  			</a>
					<!--name of person 10-->
			  		<h5>Dr. Azad Madni</h5>
	  			</center>
				
				<!-- Modal for person 10-->
				  <div class="modal fade" id="myModal10" role="dialog">
					<div class="modal-dialog">
						
					  <!-- Modal content for person 10-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">×</button>
						  <h4 class="modal-title">Dr. Azad Madni</h4>
						</div>
						<div class="modal-body">
							<a target="_blank" href="images/people/faculty/Azad_Madni.png">
								<img src="images/people/faculty/Azad_Madni.png" alt="person 10" alt="Dr. Azad Madni" style="width:170px; float: right; margin: 0 0 15px 15px;">
							</a>
							<p style="font-size:15px ">
								Technical Director, Systems Architecting and Engineering Program<br>
								Professor, Astronautical Engineeering Department<br>
								The founder and chief executive officer of Intelligent Systems Technology, Inc., has joined USC’s Daniel J. Epstein Department of Industrial and Systems Engineering as a professor of systems architecting and industrial and systems engineering.<br>
								Email: azad.madni@usc.edu<br>
								Phone: <br>
								Website: (213) 740-9211 <a href="http://viterbi.usc.edu/sae/faculty/core-faculty/azad-m-madni.htm
								" target="Dr. Azad Madni">viterbi.usc.edu/sae/faculty/core-faculty/azad-m-madni.htm
							</a> 
							</p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--End of person 9-->
	</div>
</div>