<h3>Sorted By Year</h3>
	<a href="#!/publications/#2017"><h5 style="color: #991b1e; display: inline"> 2017 </h5></a>
		<h5 style="display: inline">|</h5> 
	<a href="#!/publications/#2016"><h5 style="color: #991b1e; display: inline"> 2016 </h5></a>
		<h5 style="display: inline">|</h5> 
	<a href="#!/publications/#2015" style="color: #991b1e"><h5 style="color: #991b1e; display: inline"> 2015 </h5></a>
<p>---------------------------</p>

<!-- publications for 2017 -->
<div class="well" style="overflow: auto;">
	<h3 id="2017" style="color: #991b1e">2017</h3>
		<p>A. Perez-Rosado, H.A. Bruck and S.K. Gupta. Integrating solar cells into flapping wing air vehicles for enhanced flight endurance. ASME Journal of Mechanisms and Robotics, Accepted for publication.</p>
		<p>B. C. Shah, P. Svec, I.R. Bertaska, W. Klinger, A.J. Sinisterra, K. v. Ellenrieder, M. Dhanak, and S.K. Gupta. Resolution-adaptive risk-aware trajectory planning for surface vehicles operating in congested civilian traffic. Autonomous Robots, Accepted for publication.</p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
</div>

<!-- publications for 2016 -->
<div class="well" style="overflow: auto;">
	<h3 id="2016" style="color: #991b1e">2016</h3>
		<p>N/A</p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
</div>

<!-- publications for 2015 -->
<div class="well" style="overflow: auto;">
	<h3 id="2015" style="color: #991b1e">2015</h3>
		<p>A. Perez-Rosado, R.D. Gelhar, S. Nolen, S.K. Gupta, and H.A. Bruck. Design, fabrication, and characterization of multifunctional wings to harvest solar energy in flapping wing air vehicles. Smart Materials and Structures, 24(6):065042, 2015.</p>
		<p>Z. Kootbally, C. Schlenoff, C. Lawler, T. Kramer, and S.K. Gupta. Towards robust assembly with knowledge representation for the planning domain definition language (PDDL). Robotics and Computer-Integrated Manufacturing, 33:42-55, 2015.</p>
		<p>E. Raboin, P. Svec, D. S. Nau, and S.K. Gupta. Model-predictive asset guarding by team of autonomous surface vehicles in environment with civilian boats. Autonomous Robots, 38(3):261-282, 2015.</p>
		<p>L.J. Roberts, H.A. Bruck, and S.K. Gupta. Modeling of dive maneuvers in flapping wing unmanned aerial vehicles. IEEE International Symposium on Safety, Security, and Rescue Robotics, West Lafayette, IN, October 2015. </p>
		<p>K. N. Kaipa, A. S. Kankanhalli-Nagendra, and S. K. Gupta. Toward estimating task execution confidence for robotic bin-picking applications. AAAI Fall Symposium: Self-Confidence in Autonomous Systems, Arlington, VA, November 12 - 14, 2015.</p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
</div>





<!-- skip usv or birol name -->
