<div class="container">
	<!-- reaserch 1 -->	
		<div class="well" style="overflow: auto;">
			<center>
			<a target="_blank" href="images/research/Team_Advanced_Robotics_Finishing - ariyan kabir.jpg">
				<img src="images/research/Team_Advanced_Robotics_Finishing - ariyan kabir.jpg" alt="reaserch1" style="width:50%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Robotic Surface Finishing</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Ariyan Kabir (PhD Student), Brual Shah (Post Doc)
				</p>
				<h5> Email of contact person : </h5>
				<p style="font-size:13px ">
					akabir@usc.edu
				</p><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm1" data-toggle="collapse" data-target="#demo1" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo1" class="collapse" style="text-indent: 50px; padding: 10px; width: 600px; height: 200px; text-align: justify;">
					<br>
					We introduce an algorithm for long distance path planning in complex marine environments. The available free space Finishing processes can take up-to 25% of the manufacturing cost. These operations (e.g. cleaning, sanding, polishing) are highly non-repetitive. The task profile changes with change in surface geometry, material, and tool. We are creating a smart robotic assistant that can carry out the labor intensive tasks. Our technology of automated robotic finishing will significantly expand the role of robots in small and medium size productions.
					<a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> 
				  </div>
			</div>		
		</div>
	<!-- reaserch 2 -->	
		<div class="well" style="overflow: auto;">
			<center>
			<a target="_blank" href="images/research/RoboSAM1 - Nithyananda Bhat.png">
				<img src="images/research/RoboSAM1 - Nithyananda Bhat.png" alt="reaserch1" style="width:50%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4>Robotic Smart Assistant for Manufacturing (RoboSAM)</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Nithyananda Bhat Kumbla
				</p>
				<h5> Email of contact person : </h5>
				<p style="font-size:13px ">
					knb.1992@gmail.com
				</p><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm2" data-toggle="collapse" data-target="#demo2" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo2" class="collapse" style="text-indent: 50px; padding: 10px; width: 600px; height: 200px; text-align: justify;">
					<br>
					  Extracting a part from a bin of mixed parts is a highly non-repetitive task. Non-contact based perception system has to be used to estimate the pose of the part that is to be extracted from the bin. Any uncertainty in the part pose estimate can increase failure rates. We define several grasp strategies for a part and run a Monte Carlo simulator to estimate the execution time and the probability of success for each grasp strategy. The motion plan corresponding to the grasp strategy with lowest completion time is chosen. The robot is smart enough to perform fine positioning moves to improve pose accuracy during drop-off and invoke human intervention if a failure occurs during pose estimation or part extraction. 
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
	<!-- reaserch 3 -->	
		<div class="well" style="overflow: auto;">
			<center>
			<a target="_blank" href="images/research/setup2 - Nithyananda Bhat.jpg">
				<img src="images/research/setup2 - Nithyananda Bhat.jpg" alt="reaserch1" style="width:50%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4> Augmenting Human Robot Collaborative Work Cell with Sensor Feedback</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Nithyananda Bhat Kumbla
				</p>
				<h5> Email of contact person : </h5>
				<p style="font-size:13px ">
					knb.1992@gmail.com
				</p><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm3" data-toggle="collapse" data-target="#demo3" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo3" class="collapse" style="text-indent: 50px; padding: 10px; width: 600px; height: 200px; text-align: justify;">
					<br>
					  Human robot collaboration can be very effective in increasing the productivity in small volume manufacturing. We propose a 2 robot and a human work cell architecture to perform complicated assembly tasks in the presence of perception uncertainty. We use sensor integrated technology is used to estimate the pose of the part after it has been grasped and establish a collaboration between the robots to complete the assembly task. The role of the human is to assist the robot in complicated assembly task and handle any failures during the task execution.
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>
	<!-- reaserch 4 -->	
		<div class="well" style="overflow: auto;">
			<center>
			<a target="_blank" href="images/research/HoloLens - JingSong Chu.jpg">
				<img src="images/research/HoloLens - JingSong Chu.jpg" alt="reaserch1" style="width:50%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4> AR Interface for Controlling Robots </h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					JingSong Chu(Master Student), Ariyan Kabir(PHD Student)
				</p>
				<h5> Email of contact person : </h5>
				<p style="font-size:13px ">
					jingsonc@usc.edu
				</p><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm4" data-toggle="collapse" data-target="#demo4" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo4" class="collapse" style="text-indent: 50px; padding: 10px; width: 600px; height: 200px; text-align: justify;">
					<br>
					  Augmented reality is newly developed technology. It combines the virtual world and physical world. With the help of advanced AR technology, manufacturing process will be optimized. We are using Microsoft HoloLens to create a UI to visualize robot hologram and move each joints of the hologram to control the real robot. Our project will help people prevent the manipulation error and increase the speed of the process.
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>	
	<!-- reaserch 5 -->	
		<div class="well" style="overflow: auto;">
			<center>
			<a target="_blank" href="images/research/working people - Han Xu.jpg">
				<img src="images/research/working people - Han Xu.jpg" alt="reaserch1" style="width:50%;; float: right; margin: 0 0 10px 10px;">
			</a>
			</center>
				<h4> Picking and Placing with Baxter Robot</h4>
				<h5> People who are currently working on it : </h5>
				<p style="font-size:13px ">
					Han Xu
				</p>
				<h5> Email of contact person : </h5>
				<p style="font-size:13px ">
					hxu050@usc.edu
				</p><br>

				<div class="container">
					<button type="button" class="btn btn-info" id="btm5" data-toggle="collapse" data-target="#demo5" style="margin-left:-15px; background-color: #991b1e; border-color: #991b1e">
					  <span class="glyphicon glyphicon-collapse-down"></span> Read More
					</button>
				  <div id="demo5" class="collapse" style="text-indent: 50px; padding: 10px; width: 600px; height: 200px; text-align: justify;">
					<br>
					  Perceiving and locating randomly assorted blocks on the workbench.
					  Planning the moving path to pick up target block without hitting other blocks
					  Perception the cooperation of human.
					  Automatically generation of new the moving plan when human violating the workspace.
					  Placing target block into corresponding tray.	
					<!-- <a href="references/2016_shah_icaps.pdf" target="PDF_research1">PDF</a> -->
				  </div>
			</div>		
		</div>		
	
	
	
</div>

