<!-- link 1: AME Seminars-->
<div class="container">
  <div class="well">
	  <center>
		  <a href="https://ame.usc.edu/about/seminars/">
			  <img src="images/Seminar1.png" class="img-responsive" alt="AME Seminars" width="800" height="750">
		  </a>
	  </center> 
	  <center>
		  <a href="https://ame.usc.edu/about/seminars/">
			  <h3>AME Seminars</h3>
		  </a>
	  </center>
   </div>
</div>


<!-- link 2: CS Events-->
<div class="container">
  <div class="well">
	  <center>
		  <a href="https://www.cs.usc.edu/events">
			  <img src="images/Seminar2.png" class="img-responsive" alt="CS Events" width="800" height="750">
		  </a>
	  </center> 
	  <center>
		  <a href="https://www.cs.usc.edu/events">
			  <h3>CS Seminars</h3>
		  </a>
	  </center>
   </div>
</div>