
<div class="container">
	<div class="tab2">
	  <button class="tablinks" onclick="openPage(event, 'Summery')" id="defaultOpen">Home</button>
	  <button class="tablinks" onclick="openPage(event, 'Profile')">Profile</button>
	  <button class="tablinks" onclick="openPage(event, 'News')">News</button>
	  <button class="tablinks" onclick="openPage(event, 'Research')">Research</button>
	  <button class="tablinks" onclick="openPage(event, 'Equipment')">Equipment</button>
	  <button class="tablinks" onclick="openPage(event, 'Publication')">Publication</button>
	  <button class="tablinks" onclick="openPage(event, 'Gallery')">Gallery</button>
	  <button class="tablinks" onclick="openPage(event, 'People')">People</button>
	</div>
	
	<!-- Summery Section -->
	<div id="Summery" class="tabcontent">
	  
	</div>
	
	<!-- Summery Profile -->
	<div id="Profile" class="tabcontent">
	  <h3>Profile</h3>
	  <p>this page consist of personal information</p> 
	</div>
	
	<!-- Summery News -->
	<div id="News" class="tabcontent">
	  <h3>News</h3>
	  <p>this page consist of news + pictires of them</p>
	</div>
	
	<!-- Summery Research -->
	<div id="Research" class="tabcontent" >
		<!-- Saving message 1s-->
			<div class="alert alert-success alert-dismissable fade in" ng-show="SavingAlert">
    			<strong>{{ SavingTxt }}</strong> 
  			</div>  
		<!-- End of the saving message 1s -->
		<!------------------------>
	<h3>Research</h3>
		<!-- start of open the form for adding a new reaserch -->
		<button type="button1"  ng-click="OpenAddResearchForm()" class="btn btn-success">Add a Reaserch</button><br><br>
			<!-- Strat of edit section -->
				<div class="modal fade" id="myModal1" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">New Research</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id of the Research:</label>
									  <!-- <input type="number" class="form-control" ng-model="Research.Id" min="1" required> -->
									  <input class="form-control" ng-model="Research.Id " type="number" min="1" >
										<!-- <textarea class="form-control" rows="1" ng-model="Research.Id " ></textarea> -->
									</div>								
								    
									<!-- Name -->
									<div class="form-group">
									  <label for="comment">Name of the Research:</label>
									  <textarea class="form-control" rows="2" ng-model="Research.Name" ></textarea>
									</div> 
								    
									<!-- People -->
									<div class="form-group">
									  <label for="comment">People who are currently working on it:</label>
									  <textarea class="form-control" rows="2" ng-model="Research.People" ></textarea>
									</div>   
								      
								
									<!-- Content -->
									<div class="form-group">
									  <label for="comment">Content of the research:</label>
									  <textarea class="form-control" rows="5" ng-model="Research.Content" ></textarea>
									</div>
								
									<!-- uploading pictures -->
								
									<div class="form-group">
											<label for="comment">Uploading a picture</label>
										<!-- The code for uploading picture to the system
										<br>
										<br>
											<img style="width: 30%;" ng-src="{{thumbnail.dataUrl || ' https://thebenclark.files.wordpress.com/2014/03/facebook-default-no-profile-pic.jpg' }}">
										<br>
										<br>
											<div ng-show="uploading" class="progress">
												<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
												  {{  }}
												</div>
											</div>
										<br>
											<form>
												<label class="btn btn-success">
													Browse
												</label>
												<input type="file" name="ResearchPic" ng-disabled= "uploading" style="display: none;" >
											</form> 
										-->
											<textarea class="form-control" rows="1" ng-model="Research.PicUrl" ></textarea>
									</div>
									
							</div>
							<div class="modal-footer">
							   	<button type="button"  ng-click="ClearAddResearch()" class="btn btn-primary">Clear</button>
								<button type="button"  ng-click="AddNewResearch()" class="btn btn-success" data-dismiss="modal">Add Research</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
			<!-- End of Edit section -->
		<!-- End of open the form for adding a new reaserch  -->
	  	<table class="table table-striped">
			<thead>
			  <tr>
				<th>Id</th>
				<th>Name</th>
				<th>People</th>
				<th>content</th>
				<th></th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="Research in ResearchData | orderBy : 'Id'">
				<td>{{ Research.Id }}   </td>
				<td>{{ Research.Name }}</td>
				<td>{{ Research.People }}</td>
				<td>{{ Research.Content.substring(0,40) }}...</td>
				<td><button type="button"  ng-click="edit(Research._id)" class="btn btn-warning">Edit</button></td>
		
				  <!-- Strat of edit section -->
					  <div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Research {{ Research.Id }}</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id of the Research:</label>
									  <input class="form-control" ng-model="Research.Id " type="number">
									  <!--<textarea class="form-control" rows="1" ng-model="Research.Id " ></textarea>-->
									</div>		
								    
									<!-- Name -->
									<div class="form-group">
									  <label for="comment">Name of the Research:</label>
									  <textarea class="form-control" rows="2" ng-model="Research.Name" ></textarea>
									</div> 
								    
									<!-- People -->
									<div class="form-group">
									  <label for="comment">People who are currently working on it:</label>
									  <textarea class="form-control" rows="2" ng-model="Research.People" ></textarea>
									</div>     
								
									<!-- Content -->
									<div class="form-group">
									  <label for="comment">Content of the research:</label>
									  <textarea class="form-control" rows="5" ng-model="Research.Content" ></textarea>
									</div>
									
									<!-- img -->
									<div class="form-group">
									  <label for="comment">Picture of the research</label><br><br>
									  	<a target="_blank" href="images/research/{{ Research.PicUrl }}}">
											<img src="images/research/{{ Research.PicUrl }}" style="width:300px;">
										</a><br>
									</div>
								
									<!-- uploading pictures -->
								
									<div class="form-group">
										<textarea class="form-control" rows="1" ng-model="Research.PicUrl" ></textarea>
									</div>
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="update()" class="btn btn-success" data-dismiss="modal">Update</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of Edit section -->
				<!----------------------------------->
				<td><button type="button" class="btn btn-danger" ng-click="RemoveReq(Research._id)">Remove</button></td>
				  
				  <!-- Strat of delete reseach  -->
					  <div class="modal fade" id="myModal2" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-body">
								<img src="images/SocialMedia_logo/warning.png" style="width:9%;">
								<h4 style="display: inline;">   Are you sure you want to delete this research?</h4>
								
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="Remove()" class="btn btn-danger" data-dismiss="modal">Yes</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">No</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of delete reseach -->
				 <!----------------------------------->
			  </tr>
			</tbody>
  		</table>
	</div>
	
	<!-- Summery Equipment -->
	<div id="Equipment" class="tabcontent">
	  <h3>Equipment</h3>
	  <p>page Equipment</p>
	</div>
	
	<!-- Summery Publication -->
	<div id="Publication" class="tabcontent">
	  <h3>Publication</h3>
	  <p>page Publication</p>
	</div>
	
	<!-- Summery Gallery -->
	<div id="Gallery" class="tabcontent">
	  <h3>Gallery</h3>
	  <p>Gallery page</p>
	</div>
	
	<!-- Summery People --> 
	<div id="People" class="tabcontent">
	  <h3>People</h3>
	  <p>People page</p>
	</div>
	
</div>
<script>
function openPage(evt, page) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(page).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>