<div class="container">
		<!-- Title section -->
			<div class="row">
				<!---------------------------------------->			
					<!-- robots section - routing pictures -->
						<div class="col-sm-6">
						<div class="well" style="overflow: auto;">
							<div id="General_hover">
							<center>
								<a href="#!/equipment/#robots" >
									  <div id="myCarousel" class="carousel slide" >
										<!-- Wrapper for 3D Printers title -->
										<div class="carousel-inner" role="listbox" style=" width:100%; height: 200px !important;">
											<!--circuling pictures-->
											  <div class="item" ng-class="{active:!$index}" ng-repeat="Equipment in EquipmentData | filter: Equipment_Robot_Filter">
												<img src="images/Machines/robots/{{ Equipment.PicUrl }}" width="460" height="345">
											  </div>
											<!--circuling pictures-->
										</div>
									  </div>							
								<h3 Style="color: #991b1e;">Robots</h3>
								</a>
							</center>
							</div>
						</div>
</div>
				<!---------------------------------------->
				<!---------------------------------------->
				<!---------------------------------------->
					<!-- 3D Printers section - routing pictures  -->
						<div class="col-sm-6">
						<div class="well" style="overflow: auto;">
							<div id="General_hover">
							<center>
								<a href="#!/equipment/#3D_printers">
									  <div id="myCarousel" class="carousel slide">
										<!-- Wrapper for 3D Printers title -->
										<div class="carousel-inner" role="listbox" style=" width:100%; height: 200px !important;">
											<!--circuling pictures-->
											  <div class="item" ng-class="{active:!$index}" ng-repeat="Equipment in EquipmentData | filter: Equipment_3DPrinters_Filter">
												<img src="images/Machines/3D_Printers/{{ Equipment.PicUrl }}" width="460" height="345">
											  </div>
											<!--circuling pictures-->
										</div>
									  </div>							
								<h3 Style="color: #991b1e;">3D Printers</h3>
								</a>
							</center>
							</div>
						</div>
					</div>
				<!---------------------------------------->
				<!---------------------------------------->
				<!---------------------------------------->
					<!-- CNC Machines section - routing pictures  -->
						<div class="col-sm-6">
						<div class="well" style="overflow: auto;">
							<div id="General_hover">
							<center>
								<a  href="#!/equipment/#CNC_Machines" id="robot">
								  <div id="myCarousel" class="carousel slide">

									<!-- Wrapper for CNC Machines title -->
									<div class="carousel-inner"  role="listbox" style=" width:100%; height: 200px !important;" >
									  <!--circuling pictures-->
										  <div class="item" ng-class="{active:!$index}" ng-repeat="Equipment in EquipmentData | filter: Equipment_CNCMachines_Filter">
											<img src="images/Machines/CNC_Machines/{{ Equipment.PicUrl }}" alt="" width="460" height="345">
										  </div>
									 <!--circuling pictures-->
									</div>
								  </div>
								<h3 Style="color: #991b1e;">CNC Machines</h3>
								</a>
							</center>
							</div>
						</div>
					</div>
				<!---------------------------------------->
				<!---------------------------------------->
				<!---------------------------------------->				
					<!-- Molding/ Forming section - title -->
						<div class="col-sm-6">
					<div class="well" style="overflow: auto;">
						<div id="General_hover">	
						<center>
								<a  href="#!/equipment/#Molding_Forming" id="robot" style=" width:100%; height: 200px !important;">
								  <div id="myCarousel" class="carousel slide">

									<!-- Wrapper for Molding/ Forming title -->
										<div class="carousel-inner"  role="listbox" style=" width:100%; height: 200px !important;">
											<!--circuling pictures-->
												<div class="item" ng-class="{active:!$index}" ng-repeat="Equipment in EquipmentData | filter: Equipment_Molding_Filter">
													<img src="images/Machines/Molding_Forming/{{ Equipment.PicUrl }}" alt="" width="460" height="345">
												</div>
											<!--circuling pictures-->
										</div>
								  </div>
								<h3 Style="color: #991b1e;">Molding/ Forming</h3>
								</a>
							</center>
						</div>
					</div>
				</div>
				<!---------------------------------------->
			</div>	
		<!--///////////////////////////////////////////////////-->
		<!--///////////////////////////////////////////////////-->
		<!-- content section -->
			<div>
				<!---------------------------------------->
					<!-- Robot section -->
						<div class="col-sm-12">
					<div id="robots"> 
						<div class="well"  style="overflow: auto;">
							<center><h2>Robots</h2></center><br>
							<!-- equipments -->
							<div class="col-sm-4" ng-repeat="Equipment in EquipmentData | filter: Equipment_Robot_Filter" >
								<div class="well"   style="overflow: auto; background-color: lightgray; width:100%; height: 200px !important;">
									<div id="General_hover">
										<center>
											<a>
												<img src="images/Machines/robots/{{ Equipment.PicUrl }}" class="img-responsive" id="myBtn{{ Equipment.Id}}" alt="Equipment {{ Equipment.Id }}" width="200" height="180">
											</a>
											<!--name of the equipment -->
											<h5> <span style="color: #991b1e;"> {{ Equipment.CompanyName }} </span> {{ Equipment.Name }} {{ Equipment.Id}}</h5>
										</center>
									</div>

									<!-- Modal for equipment  -->
									  <div class="modal fade" id="myModal{{ Equipment.Id}}" role="dialog">
										<div class="modal-dialog">

										  <!-- Modal content for equipment -->
										  <div class="modal-content">
											<div class="modal-header">
											  <button type="button" class="close" data-dismiss="modal">×</button>
												<h4 class="modal-title"><span style="color: #991b1e;"> {{ Equipment.CompanyName }} </span>{{ Equipment.Name }}</h4>
											</div>
											<div class="modal-body">
												<a target="_blank" href="images/Machines/robots/{{ Equipment.PicUrl }}">
													<img src="images/Machines/robots/{{ Equipment.PicUrl }}" alt="Equipment {{ Equipment.Id}}" style="width:200px; float: right; margin: 0 0 15px 15px;">
												</a>
												<p style="font-size:15px ">
													{{ Equipment.Content }}
													<a href="references/Machines/{{ Equipment.ReadMore }}" target="Equipment {{ Equipment.Id}}">Read More</a> 
													<br>
													<br>
												</p>
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
										  </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
</div>
				<!---------------------------------------->	
				<!---------------------------------------->	
				<!---------------------------------------->	
					<!-- 3D Printers section -->
						<div class="col-sm-12">
							<div id="3D_printers">    
								<div class="well" style="overflow: auto;"> 
									<center><h2>3D Printers</h2></center><br>
									<!-- equipments-->
									<div class="col-sm-4" ng-repeat="Equipment in EquipmentData | filter: Equipment_3DPrinters_Filter">
										<div class="well"   style="overflow: auto; background-color: lightgray; width:100%; height: 200px !important">
											<div id="General_hover">
												<center>
													<a>
														<img src="images/Machines/3D_Printers/{{ Equipment.PicUrl }}" class="img-responsive" id="myBtn{{ Equipment.Id}}" alt="Equipment {{ Equipment.Id}}" width="200" height="180">
													</a>
													<!--name of the equipment -->
													<h5> <span style="color: #991b1e;"> {{ Equipment.CompanyName }} </span> {{ Equipment.Name }} </h5>
												</center>
											</div>

											<!-- Modal for equipment -->
											  <div class="modal fade" id="myModal{{ Equipment.Id}}" role="dialog">
												<div class="modal-dialog">

												  <!-- Modal content for equipment-->
												  <div class="modal-content">
													<div class="modal-header">
													  <button type="button" class="close" data-dismiss="modal">×</button>
														<h4 class="modal-title"><span style="color: #991b1e;"> {{ Equipment.CompanyName }} </span>{{ Equipment.Name }}</h4>
													</div>
													<div class="modal-body">
														<a target="_blank" href="images/Machines/3D_Printers/{{ Equipment.PicUrl }}">
															<img src="images/Machines/3D_Printers/{{ Equipment.PicUrl }}" alt="Equipment {{ $index + 1 }}" style="width:200px; float: right; margin: 0 0 15px 15px;">
														</a>
														<p style="font-size:15px ">
															{{ Equipment.Content }}
															<a href="references/Machines/{{ Equipment.ReadMore }}" target="{{ Equipment.Id}}">Read More</a> 
															<br>
															<br>
															<br>
															<br>
														</p>
													</div>
													<div class="modal-footer">
													  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													</div>
												  </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
</div>	
				<!---------------------------------------->	
				<!---------------------------------------->	
				<!---------------------------------------->	
					<!-- CNC Machines section -->
						<div class="col-sm-12">
							<div id="CNC_Machines">    
								<div class="well" style="overflow: auto;"> 
									<center><h2>CNC Machines</h2></center><br>
									<!-- equipments -->
									<div class="col-sm-4" ng-repeat="Equipment in EquipmentData | filter: Equipment_CNCMachines_Filter">
										<div class="well" style="overflow: auto; background-color: lightgray; width:100%; height: 265px !important">
											<div id="General_hover">
												<center>
													<a>
														<img src="images/Machines/CNC_Machines/{{ Equipment.PicUrl }}" class="img-responsive" id="myBtn{{ Equipment.Id}}" alt="Equipment {{ Equipment.Id}}" width="200" height="180">
													</a>
													<!--name of the equipment-->
													<h5> <span style="color: #991b1e;"> {{ Equipment.CompanyName }} </span> {{ Equipment.Name }}</h5>
												</center>
											</div>

											<!-- Modal for equipment-->
											  <div class="modal fade" id="myModal{{ Equipment.Id}}" role="dialog">
												<div class="modal-dialog">

												  <!-- Modal content for equipment-->
												  <div class="modal-content">
													<div class="modal-header">
													  <button type="button" class="close" data-dismiss="modal">×</button>
														<h4 class="modal-title"><span style="color: #991b1e;"> {{ Equipment.CompanyName }} </span> {{ Equipment.Name }} </h4>
													</div>
													<div class="modal-body">
														<a target="_blank" href="images/Machines/CNC_Machines/{{ Equipment.PicUrl }}">
															<img src="images/Machines/CNC_Machines/{{ Equipment.PicUrl }}" alt="Equipment {{ Equipment.Id}}" style="width:200px; float: right; margin: 0 0 15px 15px;">
														</a>
														<p style="font-size:15px ">
															{{ Equipment.Content }}
															<a href="references/Machines/{{ Equipment.ReadMore }}" target="Equipment {{ Equipment.Id}}">Read More</a> 
														</p>
													</div>
													<div class="modal-footer">
													  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													</div>
												  </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
</div>
				<!---------------------------------------->	
				<!---------------------------------------->	
				<!---------------------------------------->	
					<!-- Molding/Forming section -->
						<div class="col-sm-12">
							<div id="Molding_Forming">    
								<div class="well" style="overflow: auto;"> 
									<center><h2>Molding/Forming</h2></center><br>
									<!-- equipments-->
									<div class="col-sm-4" ng-repeat="Equipment in EquipmentData | filter: Equipment_Molding_Filter">
										<div class="well"  style="overflow: auto; background-color: lightgray; width:100%; height: 210px !important">
											<div id="General_hover">
												<center>
													<a>
														<img src="images/Machines/Molding_Forming/{{ Equipment.PicUrl }}" class="img-responsive" id="myBtn{{ Equipment.Id}}" alt="Equipment {{ Equipment.Id}}" width="200" height="180">
													</a>
													<!--name of the equipment-->
													<h5> <span style="color: #991b1e;"> {{ Equipment.CompanyName }} </span> {{ Equipment.Name }}</h5>
												</center>
											</div>

											<!-- Modal for equipment -->
											  <div class="modal fade" id="myModal{{ Equipment.Id}}" role="dialog">
												<div class="modal-dialog">

												  <!-- Modal content for equipment-->
												  <div class="modal-content">
													<div class="modal-header">
													  <button type="button" class="close" data-dismiss="modal">×</button>
														<h4 class="modal-title"><span style="color: #991b1e;"> {{ Equipment.CompanyName }} </span> {{ Equipment.Name }} </h4>
													</div>
													<div class="modal-body">
														<a target="_blank" href="images/Machines/Molding_Forming/{{ Equipment.PicUrl }}">
															<img src="images/Machines/Molding_Forming/{{ Equipment.PicUrl }}" alt="Equipment {{ $index + 1 }}" style="width:200px; float: right; margin: 0 0 15px 15px;">
														</a>
														<p style="font-size:15px ">
															{{ Equipment.Content }}
															<a href="references/Machines/{{ Equipment.ReadMore }}" target="Equipment {{ Equipment.Id}}">Read More</a> 
															<br>
															<br>
															<br>
														</p>
													</div>
													<div class="modal-footer">
													  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													</div>
												  </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
</div>
				<!---------------------------------------->
			</div>
</div>






