<div class="container gallery-container" >
		<div class="tz-gallery">
			<div class="row">	
				<!--------------->	
					<div class="col-sm-6 col-md-4" ng-repeat="Gallery in GalleryData | orderBy : 'Id'">
						<div id="General_hover">
							<a class="lightbox">
								<img ng-src="images/gallery/{{Gallery.PicUrl}}" class="img-responsive" id="myBtn{{ Gallery.Id}}">
							</a>
						</div>
						<!-- Modal for person -->
						<div class="modal fade" id="myModal{{ Gallery.Id }}" role="dialog">
							<div class="modal-dialog">
								<!-- Modal content for person-->			 
									<div class="modal-body">
										<a target="_blank" href="images/gallery/{{Gallery.PicUrl}}">
											<img ng-src="images/gallery/{{Gallery.PicUrl}}" style="max-width: 100%; height: auto; width: auto\9;" >
										</a>
									</div>	
								<!-- closing btn-->
									  <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: right;">Close</button>
							</div>
						</div>
						
					</div>
				<!--------------->
			</div>
		</div>
	</div>











			
			
			
	