<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" >
    
	 <!-- Indicators 
		<ol class="carousel-indicators" ng-repeat="News in NewsData" >
		  <li data-target="#myCarousel" data-slide-to="{{ News._index }}"></li>
		</ol>
	-->
	
    <!-- Wrapper for slides -->
		<div class="carousel-inner" >

			<div class="item" ng-class="{active:!$index}" ng-repeat="News in NewsData | orderBy : 'Id'">
				<img ng-src="images/News/{{News.PicUrl}}" alt="{{ News.Caption }}" style="width:100%;">
				<div class="carousel-caption">
					<h3>{{ News.Caption }}</h3>
				<!--<p></p>-->
				</div>
			</div>

		</div>

    <!-- Left and right controls 
	
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
	-->
	  
  </div>
</div>