<div class= "container">
<!---------------------------------------------------------------------------------->
	<!-- Faculty -->
		<div class="well" style="overflow: auto;">
			<div class="row">	
					<h2 style="margin-left:25px;">Faculty</h2>
				<br>
				<!--------------->	
					<!-- person in Faculty-->
					<div class="col-sm-4" ng-repeat="People in PeopleData | filter: People_Faculty_Filter">
						<div class="well" style="overflow: auto; height: 240px; !important; background-color: lightgray;">
							<div id="General_hover">
								<center>
									<a>
										<img ng-src="images/People/{{People.Group}}/{{ People.PicUrl }}" class="img-responsive" id="myBtn{{ People.Id}}" alt="name {{People.Name}}" style="width:80%; !important;">
									</a>
									<!--name of the person -->
									<h5>{{People.Name}}</h5>
								</center>
							</div>
							<!-- Modal for person -->
							  <div class="modal fade" id="myModal{{ People.Id }}" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for person-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title">{{ People.Name }}</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/People/{{People.Group}}/{{ People.PicUrl }}">
											<img ng-src="images/People/{{People.Group}}/{{ People.PicUrl }}" alt="person{{ People.Id}}" alt="name {{People.Name}}" style="width:160px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											<span style="color: #991b1e; font-weight: bold;">Title: </span>{{ People.Title }}<br>
											<span style="color: #991b1e; font-weight: bold;">Research Area: </span>{{People.ResearchArea}}<br>
											<span style="color: #991b1e; font-weight: bold;">Current Projects: </span> {{People.CurrentProjects}}
											<br>
											<br>
											Email: {{People.Email}}<br>
											Phone: {{People.Phone}}<br>
											Website: <a href="{{People.Website}}" target="{{ People.Name }}">{{People.Website}}</a> 
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!--End of person in faculty-->
				<!--------------->
			</div>
		</div>
	<!-- end of the Faculty section -->
<!---------------------------------------------------------------------------------->
	<!-- Research Staff -->
		<div class="well" style="overflow: auto;">
			<div class="row">	
				<h2 style="margin-left:25px;">Research Staff</h2>
			<br>
				<!--------------->	
					<!-- person in Staff-->
					<div class="col-sm-4" ng-repeat="People in PeopleData | filter: People_Staff_Filter">
						<div class="well" style="overflow: auto; height: 240px; !important; background-color: lightgray;">
							<div id="General_hover">
								<center>
									<a>
										<img ng-src="images/People/{{People.Group}}/{{ People.PicUrl }}" class="img-responsive" id="myBtn{{ People.Id}}" alt="name {{People.Name}}" style="width:80%; !important;">
									</a>
									<!--name of the person -->
									<h5>{{People.Name}}</h5>
								</center>
							</div>
							<!-- Modal for person -->
							  <div class="modal fade" id="myModal{{ People.Id }}" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for person-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title">{{ People.Name }}</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/People/{{People.Group}}/{{ People.PicUrl}}">
											<img ng-src="images/People/{{People.Group}}/{{ People.PicUrl }}" alt="person{{ People.Id}}" alt="name {{People.Name}}" style="width:160px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											<span style="color: #991b1e; font-weight: bold;">Title: </span>{{ People.Title }}<br>
											<span style="color: #991b1e; font-weight: bold;">Research Area: </span>{{People.ResearchArea}}<br>
											<span style="color: #991b1e; font-weight: bold;">Current Projects: </span> {{People.CurrentProjects}}
											<br>
											<br>
											Email: {{People.Email}}<br>
											Phone: {{People.Phone}}<br>
											Website: <a href="{{People.Website}}" target="{{ People.Name }}">{{People.Website}}</a> 
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!--End of person in Staff-->
				<!--------------->
			</div>
		</div>
	<!-- end of the Research Staff section-->
<!---------------------------------------------------------------------------------->
	<!-- Students -->
		<div class="well" style="overflow: auto;">
			<div class="row">	
				<h2 style="margin-left:25px;">Students</h2>
			<br>
				<!--------------->	
					<!-- person in Faculty-->
					<div class="col-sm-4" ng-repeat="People in PeopleData | filter: People_Students_Filter">
						<div class="well" style="overflow: auto; height: 240px; !important; background-color: lightgray;">
							<div id="General_hover">
								<center>
									<a>
										<img ng-src="images/People/{{People.Group}}/{{ People.PicUrl }}" class="img-responsive" id="myBtn{{ People.Id}}" alt="name {{People.Name}}" style="width:80%; !important;">
									</a>
									<!--name of the person -->
									<h5>{{People.Name}}</h5>
								</center>
							</div>
							<!-- Modal for person -->
							  <div class="modal fade" id="myModal{{ People.Id }}" role="dialog">
								<div class="modal-dialog">

								  <!-- Modal content for person-->
								  <div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">×</button>
									  <h4 class="modal-title">{{ People.Name }}</h4>
									</div>
									<div class="modal-body">
										<a target="_blank" href="images/People/{{People.Group}}/{{ People.PicUrl }}">
											<img ng-src="images/People/{{People.Group}}/{{ People.PicUrl }}" alt="person{{ People.Id}}" alt="name {{People.Name}}" style="width:160px; float: right; margin: 0 0 15px 15px;">
										</a>
										<p style="font-size:15px ">
											<span style="color: #991b1e; font-weight: bold;">Title: </span>{{ People.Title }}<br>
											<span style="color: #991b1e; font-weight: bold;">Research Area: </span>{{People.ResearchArea}}<br>
											<span style="color: #991b1e; font-weight: bold;">Current Projects: </span> {{People.CurrentProjects}}
											<br>
											<br>
											Email: {{People.Email}}<br>
											Phone: {{People.Phone}}<br>
											Website: <a href="{{People.Website}}" target="{{ People.Name }}">{{People.Website}}</a> 
										</p>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<!--End of person in Students-->
				<!--------------->				
			</div>
		</div>
	<!-- end of the Students section -->
</div>