<h3>Sorted By Year</h3>
	<a href="#!/publications/#2017"><h5 style="color: #991b1e; display: inline"> 2017 </h5></a>
		<h5 style="display: inline">|</h5> 
	<a href="#!/publications/#2016"><h5 style="color: #991b1e; display: inline"> 2016 </h5></a>
		<h5 style="display: inline">|</h5> 
	<a href="#!/publications/#2015" style="color: #991b1e"><h5 style="color: #991b1e; display: inline"> 2015 </h5></a>
<p>---------------------------</p>

<!-- publications for 2017 -->
<div class="well" style="overflow: auto;" ng-repeat="Publication in PublicationData | filter: Publication_2017_Filter">
	<h3 id="2017" style="color: #991b1e" >2017</h3>
		<p>	
			{{Publication._index + 1}}. {{ Publication.Authors }} {{ Publication.Name }}. <span style=" font-style: italic;"> {{ Publication.IEEE }} </span>, {{ Publication.Location }}, {{ Publication.Month }} {{ Publication.Year }}.
		</p>	
</div>

<!-- publications for 2016 -->
<div class="well" style="overflow: auto;" ng-repeat="Publication in PublicationData | filter: Publication_2016_Filter">
	<h3 id="2016" style="color: #991b1e">2016</h3>
		
		<p>	
			{{Publication._index + 1}}. {{ Publication.Authors }} {{ Publication.Name }}. <span style=" font-style: italic;"> {{ Publication.IEEE }} </span>, {{ Publication.Location }}, {{ Publication.Month }} {{ Publication.Year }}.
		</p>
</div>

<!-- publications for 2015 -->
<div class="well" style="overflow: auto;" ng-repeat="Publication in PublicationData | filter: Publication_2015_Filter">
	<h3 id="2015" style="color: #991b1e">2015</h3>

		<p>	
			{{Publication._index + 1}}. {{ Publication.Authors }} {{ Publication.Name }}. <span style=" font-style: italic;"> {{ Publication.IEEE }} </span>, {{ Publication.Location }}, {{ Publication.Month }} {{ Publication.Year }}.
		</p>

</div>


<!-- skip usv or birol name -->
