
<div class="container">
	<div class="tab2">
	  <button class="tablinks" onclick="openPage(event, 'Summery')" id="defaultOpen">Home</button>
	  <!--<button class="tablinks" onclick="openPage(event, 'Profile')">Profile</button>-->
	  <button class="tablinks" onclick="openPage(event, 'News')">News</button>
	  <button class="tablinks" onclick="openPage(event, 'Research')">Research</button>
	  <button class="tablinks" onclick="openPage(event, 'Equipment')">Equipment</button>
	  <button class="tablinks" onclick="openPage(event, 'Publication')">Publication</button>
	  <button class="tablinks" onclick="openPage(event, 'Gallery')">Gallery</button>
	  <button class="tablinks" onclick="openPage(event, 'People')">People</button>
	</div>
	
	<!-- Summery Section -->
	<div id="Summery" class="tabcontent">
	  
	</div>
	
	<!-- Summery Profile -->
	<div id="Profile" class="tabcontent">
	  <h3>Profile</h3>
	  <p>this page consist of personal information</p> 
	</div>

	<!--  
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////// START OF Summery News /////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	-->	
		<div id="News" class="tabcontent">
		<!-- Saving message 1s-->
			<div class="alert alert-success alert-dismissable fade in" ng-show="SavingAlert">
    			<strong>{{ SavingTxt }}</strong> 
  			</div>  
		<!-- End of the saving message 1s -->
		<!------------------------>
	<h3>News</h3>
		<!-- start of open the form for adding a new pic -->
		<button type="button1"  ng-click="OpenAddNewsForm()" class="btn btn-success">Add a News</button><br><br>
			<!-- Strat of edit section -->
				<div class="modal fade" id="News1" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for pic-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">New News</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id:</label>
									  <input class="form-control" ng-model="News.Id " type="number" min="1" >
									</div>								
								    
								    
									<!-- Caption of the picture -->
									<div class="form-group">
									  <label for="comment">Caption:</label>
									  <textarea class="form-control" rows="1" ng-model="News.Caption" ></textarea>
									</div> 	
								
									
									<!-- img -->
									<div class="form-group">
									  <label for="comment">Picture </label><br><br>
											<img ng-src="images/News/{{News.PicUrl}}" style="width:300px;">
										<br>
									</div>
									
									<!-- Adding a picture -->
									<div class="form-group">
										<label for="comment">Adding a picture</label>
										<textarea class="form-control" rows="1" ng-model="News.PicUrl" ></textarea>
									</div>
									
							</div>
							<div class="modal-footer">
							   	<button type="button"  ng-click="ClearAddNews()" class="btn btn-primary">Clear</button>
								<button type="button"  ng-click="AddNewNews()" class="btn btn-success" data-dismiss="modal">Add News</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
			<!-- End of Edit section -->
		<!-- End of open the form for adding a new News  -->
	  	<table class="table table-striped">
			<thead>
			  <tr>
				<th style="padding: 5px 30px 5px 30px;">Id</th>
				<th style="padding: 5px 30px 5px 30px;">Caption</th>
				<th style="padding: 5px 30px 5px 30px;">Pictures</th>
				<th style="padding: 5px 30px 5px 30px;"></th>
				<th style="padding: 5px 30px 5px 30px;"></th>
			  </tr>
			</thead>
			<tbody> 
			<tr ng-repeat="News in NewsData | orderBy : 'Id'">
				<td style="padding: 5px 30px 5px 30px;" >{{ News.Id }}</td>
				<td style="padding: 5px 30px 5px 30px;">{{ News.Caption }}</td>
				<td style="padding: 5px 30px 5px 30px;">
					<a target="_blank" href="images/News/{{News.PicUrl}}">
						<img ng-src="images/News/{{News.PicUrl}}" style="width:200px;">
					</a>
				</td>
				<td><button type="button"  ng-click="edit_News(News._id)" class="btn btn-warning">Edit</button></td>
		
				  <!-- Strat of edit section -->
					  <div class="modal fade" id="News2" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for News-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">News {{ News.Id }}</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id of the News:</label>
									  <input class="form-control" ng-model="News.Id " type="number">
									  <!--<textarea class="form-control" rows="1" ng-model="Research.Id " ></textarea>-->
									</div>		
								    
									<!-- Caption -->
									<div class="form-group">
									  <label for="comment">Caption:</label>
									  <textarea class="form-control" rows="2" ng-model="News.Caption" ></textarea>
									</div> 
									
									<!-- img -->
									<div class="form-group">
									  <label for="comment">Picture of News:</label><br><br>
											<img ng-src="images/News/{{ News.PicUrl }}" style="width:300px;">
										<br>
									</div>
								
									<!-- uploading pictures -->
			
									<div class="form-group">
										<textarea class="form-control" rows="1" ng-model="News.PicUrl" ></textarea>
									</div>
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="updateNews()" class="btn btn-success" data-dismiss="modal">Update</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of Edit section -->
				
				<td><button type="button" class="btn btn-danger" ng-click="RemoveReq_News(News._id)">Remove</button></td>
				  <!-- Strat of delete News  -->
					  <div class="modal fade" id="News3" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for News-->
						  <div class="modal-content">
							<div class="modal-body">
								<img ng-src="images/SocialMedia_logo/warning.png" style="width:9%;">
								<h4 style="display: inline;">   Are you sure you want to delete this News?</h4>
								
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="Remove_News()" class="btn btn-danger" data-dismiss="modal">Yes</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">No</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of delete News -->
				 <!----------------------------------->
			  </tr>
			</tbody>
  		</table>
	</div>
	<!--------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------->
	<!--  
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////// START OF Summery Research///////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	-->
		<div id="Research" class="tabcontent" >
		<!-- Saving message 1s-->
			<div class="alert alert-success alert-dismissable fade in" ng-show="SavingAlert">
    			<strong>{{ SavingTxt }}</strong> 
  			</div>  
		<!-- End of the saving message 1s -->
		<!------------------------>
	<h3>Research</h3>
		<!-- start of open the form for adding a new reaserch -->
		<button type="button1"  ng-click="OpenAddResearchForm()" class="btn btn-success">Add a Reaserch</button><br><br>
			<!-- Strat of edit section -->
				<div class="modal fade" id="myModal1" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">New Research</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id of the Research:</label>
									  <!-- <input type="number" class="form-control" ng-model="Research.Id" min="1" required> -->
									  <input class="form-control" ng-model="Research.Id " type="number" min="1" >
										<!-- <textarea class="form-control" rows="1" ng-model="Research.Id " ></textarea> -->
									</div>								
								    
									<!-- Name -->
									<div class="form-group">
									  <label for="comment">Name of the Research:</label>
									  <textarea class="form-control" rows="2" ng-model="Research.Name" ></textarea>
									</div> 
								    
									<!-- People -->
									<div class="form-group">
									  <label for="comment">People who are currently working on it:</label>
									  <textarea class="form-control" rows="2" ng-model="Research.People" ></textarea>
									</div>   
								      
								
									<!-- Content -->
									<div class="form-group">
									  <label for="comment">Content of the research:</label>
									  <textarea class="form-control" rows="5" ng-model="Research.Content" ></textarea>
									</div>
									
									<!-- References -->
									<div class="form-group">
										<label for="comment">Reference of research:</label>
										<textarea class="form-control" rows="1" ng-model="Research.Reference"></textarea>
									</div>
									
									<!-- img -->
									<div class="form-group">
											<label for="comment">Uploading a picture:</label>
											<textarea class="form-control" rows="1" ng-model="Research.PicUrl" ></textarea>
									</div>
									<br>
									<div class="form-group">
									  <label for="comment">Preview of uploaded picture:</label><br><br>
											<img ng-src="images/research/{{ Research.PicUrl }}" style="width:300px;">
										<br>
									</div>
								

									
							</div>
							<div class="modal-footer">
							   	<button type="button"  ng-click="ClearAddResearch()" class="btn btn-primary">Clear</button>
								<button type="button"  ng-click="AddNewResearch()" class="btn btn-success" data-dismiss="modal">Add Research</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
			<!-- End of Edit section -->
		<!-- End of open the form for adding a new reaserch  -->
	  	<table class="table table-striped">
			<thead>
			  <tr>
				<th>Id</th>
				<th>Name</th>
				<th>People</th>
				<th>content</th>
				<th></th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="Research in ResearchData | orderBy : 'Id'">
				<td>{{ Research.Id }}   </td>
				<td>{{ Research.Name }}</td>
				<td>{{ Research.People }}</td>
				<td>{{ Research.Content.substring(0,40) }}...</td>
				<td><button type="button"  ng-click="edit(Research._id)" class="btn btn-warning">Edit</button></td>
		
				  <!-- Strat of edit section -->
					  <div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Research {{ Research.Id }}</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id of the Research:</label>
									  <input class="form-control" ng-model="Research.Id " type="number">
									  <!--<textarea class="form-control" rows="1" ng-model="Research.Id " ></textarea>-->
									</div>		
								    
									<!-- Name -->
									<div class="form-group">
									  <label for="comment">Name of the Research:</label>
									  <textarea class="form-control" rows="2" ng-model="Research.Name" ></textarea>
									</div> 
								    
									<!-- People -->
									<div class="form-group">
									  <label for="comment">People who are currently working on it:</label>
									  <textarea class="form-control" rows="2" ng-model="Research.People" ></textarea>
									</div>     
								
									<!-- Content -->
									<div class="form-group">
									  <label for="comment">Content of the research:</label>
									  <textarea class="form-control" rows="5" ng-model="Research.Content" ></textarea>
									</div>
									
									
									<!-- References -->
									<div class="form-group">
										<label for="comment">Reference of research:</label>
										<textarea class="form-control" rows="1" ng-model="Research.Reference"></textarea>
									</div>
			
									
									<!-- img -->
									<div class="form-group">
											<label for="comment">Uploading a picture:</label>
											<textarea class="form-control" rows="1" ng-model="Research.PicUrl" ></textarea>
									</div>
									<br>
									<div class="form-group">
									  <label for="comment">Preview of uploaded picture:</label><br><br>
											<img ng-src="images/research/{{ Research.PicUrl }}" style="width:300px;">
										<br>
									</div>
								
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="update()" class="btn btn-success" data-dismiss="modal">Update</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of Edit section -->
				<!----------------------------------->
				<td><button type="button" class="btn btn-danger" ng-click="RemoveReq(Research._id)">Remove</button></td>
				  
				  <!-- Strat of delete reseach  -->
					  <div class="modal fade" id="myModal2" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-body">
								<img ng-src="images/SocialMedia_logo/warning.png" style="width:9%;">
								<h4 style="display: inline;">   Are you sure you want to delete this research?</h4>
								
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="Remove()" class="btn btn-danger" data-dismiss="modal">Yes</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">No</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of delete reseach -->
				 <!----------------------------------->
			  </tr>
			</tbody>
  		</table>
	</div>
	<!--------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------->
	<!--  
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////// START OF Summery Equipment /////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	-->
		<div id="Equipment" class="tabcontent">
		<!-- Saving message 1s-->
			<div class="alert alert-success alert-dismissable fade in" ng-show="SavingAlert">
    			<strong>{{ SavingTxt }}</strong> 
  			</div>  
		<!-- End of the saving message 1s -->
		<!------------------------>
	<h3>Equipments</h3>
		<!-- start of open the form for adding a new Equipment -->
		<button type="button1"  ng-click="OpenAddEquipmentForm()" class="btn btn-success">Add a Equipment</button><br><br>
			<!-- Strat of edit section -->
				<div class="modal fade" id="Equipment1" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">New Equipment</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id of the Equipment:</label>
									  <input class="form-control" ng-model="Equipment.Id " type="number" min="1" >
									</div>								
								    
									<!-- Group -->
									<div class="form-group">
									  <label for="comment">Group of the Equipment:</label>
										<select class="form-control" ng-model="Equipment.Group">
											<option>Robots</option>
											<option>3D_Printers</option>
											<option>CNC_Machines</option>
											<option>Molding_Forming</option>
										</select>
									</div> 
								    
									<!-- CompanyName -->
									<div class="form-group">
									  <label for="comment">The Name of Equipment company:</label>
									  <textarea class="form-control" rows="2" ng-model="Equipment.CompanyName" ></textarea>
									</div> 	
								
									<!-- Name -->
									<div class="form-group">
									  <label for="comment">The Name of Equipment:</label>
									  <textarea class="form-control" rows="2" ng-model="Equipment.Name" ></textarea>
									</div>   
								      
								
									<!-- Content -->
									<div class="form-group">
									  <label for="comment">Content of the Equipment:</label>
									  <textarea class="form-control" rows="5" ng-model="Equipment.Content" ></textarea>
									</div>
									
									<!-- ReadMore -->
									<div class="form-group">
									  <label for="comment">Read More of the Equipment(Name of the PDF):</label>
									  <textarea class="form-control" rows="1" ng-model="Equipment.ReadMore" ></textarea>
									</div>	
								
									<!-- img -->
									<div class="form-group">
									  <label for="comment">Picture of the research</label><br><br>
											<img ng-src="images/Machines/{{Equipment.Group}}/{{ Equipment.PicUrl }}" style="width:300px;">
										<br>
									</div>
									
									<!-- Adding a picture -->
								
									<div class="form-group">
										<label for="comment">Adding a picture</label>
										<textarea class="form-control" rows="1" ng-model="Equipment.PicUrl" ></textarea>
									</div>
									
							</div>
							<div class="modal-footer">
							   	<button type="button"  ng-click="ClearAddEquipment()" class="btn btn-primary">Clear</button>
								<button type="button"  ng-click="AddNewEquipment()" class="btn btn-success" data-dismiss="modal">Add Equipment</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
			<!-- End of Edit section -->
		<!-- End of open the form for adding a new Equipment  -->
	  	<table class="table table-striped">
			<thead>
			  <tr>
				<th>Id</th>
				<th>Group</th>
				<th>Company Name</th>
				<th>Name</th>
				<th>Content</th>
				<th></th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="Equipment in EquipmentData | orderBy : 'Id'">
				<td>{{ Equipment.Id }}   </td>
				<td>{{ Equipment.Group }}</td>
				<td>{{ Equipment.CompanyName }}</td>
				<td>{{ Equipment.Name }}</td>
				<td>{{ Equipment.Content.substring(0,40) }}...</td>
				<td><button type="button"  ng-click="edit_Equipment(Equipment._id)" class="btn btn-warning">Edit</button></td>
				  <!-- Strat of edit section -->
					  <div class="modal fade" id="Equipment2" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Equipment {{ Equipment.Id }}</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id of the Equipment:</label>
									  <!-- <input type="number" class="form-control" ng-model="Research.Id" min="1" required> -->
									  <input class="form-control" ng-model="Equipment.Id " type="number" min="1" >
										<!-- <textarea class="form-control" rows="1" ng-model="Research.Id " ></textarea> -->
									</div>								
								    
									<!-- Group -->
									<div class="form-group">
									  <label for="comment">Group of the Equipment:</label>
										<select class="form-control" placeholder="{{Equipment.Group}}" ng-model="Equipment.Group">
											<option>Robots</option>
											<option>3D_Printers</option>
											<option>CNC_Machines</option>
											<option>Molding/Forming</option>
										</select>
									</div> 
								    
									<!-- CompanyName -->
									<div class="form-group">
									  <label for="comment">The Name of Equipment company:</label>
									  <textarea class="form-control" rows="2" ng-model="Equipment.CompanyName" ></textarea>
									</div> 	
								
									<!-- Name -->
									<div class="form-group">
									  <label for="comment">The Name of Equipment:</label>
									  <textarea class="form-control" rows="2" ng-model="Equipment.Name" ></textarea>
									</div>   
								      
								
									<!-- Content -->
									<div class="form-group">
									  <label for="comment">Content of the Equipment:</label>
									  <textarea class="form-control" rows="5" ng-model="Equipment.Content" ></textarea>
									</div>
									
									<!-- ReadMore -->
									<div class="form-group">
									  <label for="comment">Read More of the Equipment(Name of the PDF):</label>
									  <textarea class="form-control" rows="1" ng-model="Equipment.ReadMore" ></textarea>
									</div>	
								
									<!-- img -->
									<div class="form-group">
									  <label for="comment">Picture of the research</label><br><br>
											<img ng-src="images/Machines/{{Equipment.Group}}/{{ Equipment.PicUrl }}" style="width:300px;">
										<br>
									</div>
								
									<!-- Adding a picture -->
									<div class="form-group">
										<label for="comment">Adding a picture</label>
										<textarea class="form-control" rows="1" ng-model="Equipment.PicUrl" ></textarea>
									</div>
								
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="update_Equipment()" class="btn btn-success" data-dismiss="modal">Update</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of Edit section -->
				<!----------------------------------->
				<td><button type="button" class="btn btn-danger" ng-click="RemoveReq_Equipment(Equipment._id)">Remove</button></td>
				  <!-- Strat of delete reseach  -->
					  <div class="modal fade" id="Equipment3" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-body">
								<img ng-src="images/SocialMedia_logo/warning.png" style="width:9%;">
								<h4 style="display: inline;">   Are you sure you want to delete this research?</h4>
								
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="Remove_Equipment()" class="btn btn-danger" data-dismiss="modal">Yes</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">No</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of delete Equipment -->
				 <!----------------------------------->
			  </tr>
			</tbody>
  		</table>
	</div>
	<!--------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------->
	<!--
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////// START OF Summery Publication ///////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	-->
		<div id="Publication" class="tabcontent">
		<!-- Saving message 1s-->
			<div class="alert alert-success alert-dismissable fade in" ng-show="SavingAlert">
    			<strong>{{ SavingTxt }}</strong> 
  			</div>  
		<!-- End of the saving message 1s -->
		<!------------------------>
	<h3>Publications</h3>
		<!-- start of open the form for adding a new Publication -->
		<button type="button1"  ng-click="OpenAddPublicationForm()" class="btn btn-success">Add a Publication</button><br><br>
			<!-- Strat of edit section -->
				<div class="modal fade" id="Publication1" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for Publication-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">New Publication</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id of the Publication:</label>
									  <input class="form-control" ng-model="Publication.Id " type="number" min="1" >
									</div>								
								    
									<!-- Authors -->
									<div class="form-group">
									  <label for="comment">Authors:</label>
										<textarea class="form-control" rows="2" ng-model="Publication.Authors" ></textarea>
									</div> 
								    
									<!-- Name of publication -->
									<div class="form-group">
									  <label for="comment">The Name of Publication:</label>
									  <textarea class="form-control" rows="2" ng-model="Publication.Name" ></textarea>
									</div> 	
								
									<!-- Full conference/Journals name in IEEE format -->
									<div class="form-group">
									  <label for="comment">Full conference/Journals name in IEEE format:</label>
									  <textarea class="form-control" rows="2" ng-model="Publication.IEEE" ></textarea>
									</div>   
								      
								
									<!-- Location -->
									<div class="form-group">
									  <label for="comment">Location:</label>
									  <textarea class="form-control" rows="1" ng-model="Publication.Location" ></textarea>
									</div>
									
									<!-- Months -->
									<div class="form-group">
									  <label for="comment">Month:</label>
									  	<select class="form-control" ng-model="Publication.Month">
											<option></option>
											<option>January</option>
											<option>February</option>
											<option>March</option>
											<option>April</option>
											<option>May</option>
											<option>June</option>
											<option>July</option>
											<option>August</option>
											<option>September</option>
											<option>October</option>
											<option>November</option>
											<option>December</option>
										</select>
									</div>									
									
									<!-- Year -->
									<div class="form-group">
									  <label for="comment">Year:</label>
									  <input class="form-control" ng-model="Publication.Year" type="number" min="1" >
									</div>
									
							</div>
							<div class="modal-footer">
							   	<button type="button"  ng-click="ClearAddPublication()" class="btn btn-primary">Clear</button>
								<button type="button"  ng-click="AddNewPublication()" class="btn btn-success" data-dismiss="modal">Add Publication</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
			<!-- End of Edit section -->
		<!-- End of open the form for adding a new Publication  -->
	  	<table class="table table-striped">
			<thead>
			  <tr>
				<th>Id</th>
				<th>Authors</th>
				<th>Publication Name</th>
				<th>Location</th>
				<th>Year</th>
				<th></th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="Publication in PublicationData | orderBy : 'Id'">
				<td>{{ Publication.Id }}   </td>
				<td>{{ Publication.Authors }}</td>
				<td>{{ Publication.Name }}</td>
				<td>{{ Publication.Location }}</td>
				<td>{{ Publication.Year}}</td>
				<td><button type="button"  ng-click="edit_Publication(Publication._id)" class="btn btn-warning">Edit</button></td>
				  <!-- Strat of edit section -->
					  <div class="modal fade" id="Publication2" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for Publication-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">Publication {{ Publication.Id }}</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id of the Publication:</label>
									  <input class="form-control" ng-model="Publication.Id " type="number" min="1" >
									</div>								
								    
									<!-- Authors -->
									<div class="form-group">
									  <label for="comment">Authors:</label>
										<textarea class="form-control" rows="2" ng-model="Publication.Authors" ></textarea>
									</div> 
								    
									<!-- Name of publication -->
									<div class="form-group">
									  <label for="comment">The Name of Publication:</label>
									  <textarea class="form-control" rows="2" ng-model="Publication.Name" ></textarea>
									</div> 	
								
									<!-- Full conference/Journals name in IEEE format -->
									<div class="form-group">
									  <label for="comment">Full conference/Journals name in IEEE format:</label>
									  <textarea class="form-control" rows="2" ng-model="Publication.IEEE" ></textarea>
									</div>   
								      
									<!-- Location -->
									<div class="form-group">
									  <label for="comment">Location:</label>
									  <textarea class="form-control" rows="1" ng-model="Publication.Location" ></textarea>
									</div>
									
									<!-- Months -->
									<div class="form-group">
									  <label for="comment">Month:</label>
									  	<select class="form-control" ng-model="Publication.Month">
											<option></option>
											<option>January</option>
											<option>February</option>
											<option>March</option>
											<option>April</option>
											<option>May</option>
											<option>June</option>
											<option>July</option>
											<option>August</option>
											<option>September</option>
											<option>October</option>
											<option>November</option>
											<option>December</option>
										</select>
									</div>									
									
									<!-- Year -->
									<div class="form-group">
									  <label for="comment">Year:</label>
									  <input class="form-control" ng-model="Publication.Year" type="number" min="1" >
									</div>
								
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="update_Publication()" class="btn btn-success" data-dismiss="modal">Update</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of Edit section -->
				<!----------------------------------->
				<td><button type="button" class="btn btn-danger" ng-click="RemoveReq_Publication(Publication._id)">Remove</button></td>
				  <!-- Strat of delete Publication  -->
					  <div class="modal fade" id="Publication3" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for Publication-->
						  <div class="modal-content">
							<div class="modal-body">
								<img ng-src="images/SocialMedia_logo/warning.png" style="width:9%;">
								<h4 style="display: inline;">   Are you sure you want to delete this Publication?</h4>
								
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="Remove_Publication()" class="btn btn-danger" data-dismiss="modal">Yes</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">No</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of delete Publication -->
				 <!----------------------------------->
			  </tr>
			</tbody>
  		</table>
	</div>	
	<!--------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------->	
	<!--  
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////// START OF Summery Gallery ///////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	-->	
		<div id="Gallery" class="tabcontent">
		<!-- Saving message 1s-->
			<div class="alert alert-success alert-dismissable fade in" ng-show="SavingAlert">
    			<strong>{{ SavingTxt }}</strong> 
  			</div>  
		<!-- End of the saving message 1s -->
		<!------------------------>
	<h3>Gallery</h3>
		<!-- start of open the form for adding a new pic -->
		<button type="button1"  ng-click="OpenAddGalleryForm()" class="btn btn-success">Add a Picture</button><br><br>
			<!-- Strat of edit section -->
				<div class="modal fade" id="Gallery1" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for pic-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">New Picture</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id:</label>
									  <input class="form-control" ng-model="Gallery.Id " type="number" min="1" >
									</div>								
								    
								    
									<!-- Name of the picture -->
									<div class="form-group">
									  <label for="comment">Name:</label>
									  <textarea class="form-control" rows="1" ng-model="Gallery.Name" ></textarea>
									</div> 	
								
									
									<!-- img -->
									<div class="form-group">
									  <label for="comment">Picture </label><br><br>
											<img ng-src="images/Gallery/{{Gallery.PicUrl}}" style="width:300px;">
										<br>
									</div>
									
									<!-- Adding a picture -->
									<div class="form-group">
										<label for="comment">Adding a picture</label>
										<textarea class="form-control" rows="1" ng-model="Gallery.PicUrl" ></textarea>
									</div>
									
							</div>
							<div class="modal-footer">
							   	<button type="button"  ng-click="ClearAddGallery()" class="btn btn-primary">Clear</button>
								<button type="button"  ng-click="AddNewGallery()" class="btn btn-success" data-dismiss="modal">Add Picture</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
			<!-- End of Edit section -->
		<!-- End of open the form for adding a new pic  -->
	  	<table class="table table-striped">
			<thead>
			  <tr>
				<th style="padding: 5px 40px 5px 40px;">Id</th>
				<th style="padding: 5px 40px 5px 40px;">Name</th>
				<th style="padding: 5px 40px 5px 40px;">Pictures</th>
			  </tr>
			</thead>
			<tbody> 
			<tr ng-repeat="Gallery in GalleryData | orderBy : 'Id'">
				<td style="padding: 5px 40px 5px 40px;">{{ Gallery.Id }}</td>
				<td style="padding: 5px 40px 5px 40px;">{{ Gallery.Name }}</td>
				<td style="padding: 5px 40px 5px 40px;">
					<a target="_blank" href="images/Gallery/{{Gallery.PicUrl}}">
						<img ng-src="images/Gallery/{{Gallery.PicUrl}}" style="width:130px;">
					</a>
				</td>
				<td><button type="button" class="btn btn-danger" ng-click="RemoveReq_Gallery(Gallery._id)">Remove</button></td>
				  <!-- Strat of delete pic  -->
					  <div class="modal fade" id="Gallery3" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for pic-->
						  <div class="modal-content">
							<div class="modal-body">
								<img ng-src="images/SocialMedia_logo/warning.png" style="width:9%;">
								<h4 style="display: inline;">   Are you sure you want to delete this Picture?</h4>
								
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="Remove_Gallery()" class="btn btn-danger" data-dismiss="modal">Yes</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">No</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of delete pic -->
				 <!----------------------------------->
			  </tr>
			</tbody>
  		</table>
	</div>
	<!--------------------------------------------------------------------------------------->
	<!--------------------------------------------------------------------------------------->
	<!--  
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////// START OF Summery People ////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////////////
	-->	
	<div id="People" class="tabcontent">
		<!-- Saving message 1s-->
			<div class="alert alert-success alert-dismissable fade in" ng-show="SavingAlert">
    			<strong>{{ SavingTxt }}</strong> 
  			</div>  
		<!-- End of the saving message 1s -->
		<!------------------------>
	<h3>People</h3>
		<!-- start of open the form for adding a new Equipment -->
		<button type="button1"  ng-click="OpenAddPeopleForm()" class="btn btn-success">Add a Person</button><br><br>
			<!-- Strat of edit section -->
				<div class="modal fade" id="People1" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">New Person</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id of the Person:</label>
									  <input class="form-control" ng-model="People.Id " type="number" min="1" >
									</div>								
								    
									<!-- Group -->
									<div class="form-group">
									  <label for="comment">Group of the Person:</label>
										<select class="form-control" ng-model="People.Group">
											<option>Faculty</option>
											<option>Research_Staff</option>
											<option>Students</option>
										</select>
									</div> 
								    
									<!-- Full Name -->
									<div class="form-group">
									  <label for="comment">Full Name:</label>
									  <textarea class="form-control" rows="1" ng-model="People.Name" ></textarea>
									</div> 	
								
									<!-- Title -->
									<div class="form-group">
									  <label for="comment">Title:</label>
									  <textarea class="form-control" rows="1" ng-model="People.Title" ></textarea>
									</div>   
								      
									<!-- Research Area -->
									<div class="form-group">
									  <label for="comment">Research Area:</label>
									  <textarea class="form-control" rows="5" ng-model="People.ResearchArea" ></textarea>
									</div>
									
									<!-- Current Projects -->
									<div class="form-group">
									  <label for="comment">Current Projects:</label>
									  <textarea class="form-control" rows="5" ng-model="People.CurrentProjects" ></textarea>
									</div>									
									
									<!-- Email -->
									<div class="form-group">
									  <label for="comment">Email:</label>
									  <textarea class="form-control" rows="1" ng-model="People.Email" ></textarea>
									</div>									
								
									<!-- Phone -->
									<div class="form-group">
									  <label for="comment">Phone:</label>
									  <textarea class="form-control" rows="1" ng-model="People.Phone" ></textarea>
									</div>
									
									<!-- Website -->
									<div class="form-group">
									  <label for="comment">Website:</label>
									  <textarea class="form-control" rows="1" ng-model="People.Website" ></textarea>
									</div>
									
									<!-- img -->
									<div class="form-group">
									  <label for="comment">Picture of the research</label><br><br>
											<img ng-src="images/People/{{People.Group}}/{{ People.PicUrl }}" style="width:300px;">
										<br>
									</div>
									
									<!-- Adding a picture -->
									<div class="form-group">
										<label for="comment">Adding a picture</label>
										<textarea class="form-control" rows="1" ng-model="People.PicUrl" ></textarea>
									</div>
									
							</div>
							<div class="modal-footer">
							   	<button type="button"  ng-click="ClearAddPeople()" class="btn btn-primary">Clear</button>
								<button type="button"  ng-click="AddNewPeople()" class="btn btn-success" data-dismiss="modal">Add Equipment</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
			<!-- End of Edit section -->
		<!-- End of open the form for adding a new Person  -->
	  	<table class="table table-striped">
			<thead>
			  <tr>
				<th>Id</th>
				<th>Group</th>
				<th>Name</th>
				<th>Title</th>
				<th>Email</th>
				<th></th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="People in PeopleData | orderBy : 'Id'">
				<td>{{ People.Id }}   </td>
				<td>{{ People.Group }}</td>
				<td>{{ People.Name }}</td>
				<td>{{ People.Title }}</td>
				<td>{{ People.Email }}</td>
				<td><button type="button"  ng-click="edit_People(People._id)" class="btn btn-warning">Edit</button></td>
				  <!-- Strat of edit section -->
					  <div class="modal fade" id="People2" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">×</button>
							  <h4 class="modal-title">People {{ People.Id }}</h4>
							</div>
							<div class="modal-body">
									
									<!-- Id -->
									<div class="form-group">
									  <label for="comment">Id of the Person:</label>
									  <input class="form-control" ng-model="People.Id " type="number" min="1" >
									</div>								
								    
									<!-- Group -->
									<div class="form-group">
									  <label for="comment">Group of the Person:</label>
										<select class="form-control" ng-model="People.Group">
											<option>Faculty</option>
											<option>Research_Staff</option>
											<option>Students</option>
										</select>
									</div> 
								    
									<!-- Full Name -->
									<div class="form-group">
									  <label for="comment">Full Name:</label>
									  <textarea class="form-control" rows="1" ng-model="People.Name" ></textarea>
									</div> 	
								
									<!-- Title -->
									<div class="form-group">
									  <label for="comment">Title:</label>
									  <textarea class="form-control" rows="1" ng-model="People.Title" ></textarea>
									</div>   
								      
									<!-- Research Area -->
									<div class="form-group">
									  <label for="comment">Research Area:</label>
									  <textarea class="form-control" rows="5" ng-model="People.ResearchArea" ></textarea>
									</div>
									
									<!-- Current Projects -->
									<div class="form-group">
									  <label for="comment">Current Projects:</label>
									  <textarea class="form-control" rows="5" ng-model="People.CurrentProjects" ></textarea>
									</div>									
									
									<!-- Email -->
									<div class="form-group">
									  <label for="comment">Email:</label>
									  <textarea class="form-control" rows="1" ng-model="People.Email" ></textarea>
									</div>									
								
									<!-- Phone -->
									<div class="form-group">
									  <label for="comment">Phone:</label>
									  <textarea class="form-control" rows="1" ng-model="People.Phone" ></textarea>
									</div>
									
									<!-- Website -->
									<div class="form-group">
									  <label for="comment">Website:</label>
									  <textarea class="form-control" rows="1" ng-model="People.Website" ></textarea>
									</div>

									<!-- img -->
									<div class="form-group">
									  <label for="comment">Picture of the research</label><br><br>
											<img ng-src="images/People/{{People.Group}}/{{ People.PicUrl }}" style="width:300px;">
										<br>
									</div>
								
									<!-- Adding a picture -->
									<div class="form-group">
										<label for="comment">Adding a picture</label>
										<textarea class="form-control" rows="1" ng-model="People.PicUrl" ></textarea>
									</div>
									
								
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="update_People()" class="btn btn-success" data-dismiss="modal">Update</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of Edit section -->
				<!----------------------------------->
				<td><button type="button" class="btn btn-danger" ng-click="RemoveReq_People(People._id)">Remove</button></td>
				  <!-- Strat of delete People  -->
					  <div class="modal fade" id="People3" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content for person-->
						  <div class="modal-content">
							<div class="modal-body">
								<img ng-src="images/SocialMedia_logo/warning.png" style="width:9%;">
								<h4 style="display: inline;">   Are you sure you want to delete this research?</h4>
								
							</div>
							<div class="modal-footer">
							   <button type="button"  ng-click="Remove_People()" class="btn btn-danger" data-dismiss="modal">Yes</button>
							   <button type="button"  class="btn btn-default" data-dismiss="modal">No</button>
							</div>
						  </div>
						</div>
					</div>
				  <!-- End of delete People -->
				 <!----------------------------------->
			  </tr>
			</tbody>
  		</table>
	</div>
	
	
	
<!--------------------------------------------------------------------------------------->
<!---------------------------------- End of tabs ---------------------------------------->	
<!--------------------------------------------------------------------------------------->	
	
</div>
	



<script>
	function openPage(evt, page) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		document.getElementById(page).style.display = "block";
		evt.currentTarget.className += " active";
	}

	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
</script>